<app-header></app-header>

    
    <!-- Banner section start -->
    <section class="banner send-money-banner">
      <div class="container">
        <div class="row">
          <div class="col-lg-11 col-md-12 m-auto">
            <div class="ban-content text-center">
              <h1>SIMPLE SENDING. SIMPLE SPENDING.</h1>
              <p>We make online transfers faster and easier than ever. Choose how and when you send, with great exchange rates and low fees</p>
			  <a href="assets/video/video5.mp4" class="video-btn" data-fancybox=""><i class="fas fa-play"></i></a><br><br>
              <a href="#" class="btn btn-filled btn-round"><span class="bh"></span> <span>Send Money</span></a>
            </div>
          </div>     
        </div>
      </div>
    </section>
    <!-- Banner section end -->


   <section class="easy-steps bg-offwhite">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 m-auto">
            <div class="sec-heading">
              <h2 class="sec-title">Our Payment Methods</h2>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-10 col-md-12 m-auto">
           <div class="col-md-12">
			<h5 class="text-center"><span class=" bar">Ways To Pay</span></h5>
            <div class="row">
              <div class="col-sm-4 p-0">
                <div class="iconBox boxed-shadow text-start" style="padding: 10px 30px;">
                  <!-- <img src="assets/images/icons/1.png" alt="" class="img-icon"> -->

                  <!-- Roysha icon -->
                  <span class="roysha-icon roysha-amount text-center" style="font-size:50px;"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span><span class="path9"></span><span class="path10"></span><span class="path11"></span></span>

                  <h5  style="font-size:17px;min-height: 40px;text-align:center;"><a href="#">Cash</a></h5>
                </div>
              </div>
              <div class="col-sm-4 p-0">
                <div class="iconBox boxed-shadow text-center" style="padding: 10px 30px;">
                  <!-- <img src="assets/images/icons/2.png" alt="" class="img-icon"> -->

                  <!-- Roysha icon -->
                  <img src="assets/images/zipcash.png" style="width: 58px;margin: 6px auto;"/>
                  
                  <h5  style="font-size:17px;min-height: 40px;"><a href="#">ZIPCASH</a></h5>
                </div>
              </div>
              <div class="col-sm-4 p-0">
                <div class="iconBox boxed-shadow text-center" style="padding: 10px 30px;">
                  <!-- <img src="assets/images/icons/2.png" alt="" class="img-icon"> -->

                  <!-- Roysha icon -->
                  <span class="roysha-icon roysha-hand-card" style="font-size: 50px;"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span><span class="path9"></span><span class="path10"></span><span class="path11"></span></span>
                  
                  <h5  style="font-size:17px;min-height: 40px;"><a href="#">Credit Card</a></h5>
                </div>
              </div>
			  <br>
              <div class="col-sm-6 p-0">
                <div class="iconBox boxed-shadow text-center" style="padding: 10px 30px;">
                  <!-- <img src="assets/images/icons/3.png" alt="" class="img-icon"> -->

                  <!-- Roysha icon -->
                 <span class="roysha-icon roysha-tracking" style="font-size: 50px;"><img src="assets/images/email_payment.png" alt="" style="width:50px;margin-bottom:0px;" class="img-icon"></span>

                  <h5  style="font-size:17px;min-height: 40px;"><a href="#">Email Payment </a></h5>
				  <p style="margin-bottom:0px;"><span style="font-size:13px;font-weight:normal">(Interac e-Transfers)</span></p>
                </div>
              </div>
              <div class="col-sm-6 p-0">
                <div class="iconBox boxed-shadow text-center" style="padding: 10px 30px;">
                  <!-- <img src="assets/images/icons/1.png" alt="" class="img-icon"> -->

                  <!-- Roysha icon -->
                  <span class="roysha-icon roysha-bank-diposite" style="font-size: 50px;"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span><span class="path9"></span><span class="path10"></span><span class="path11"></span><span class="path12"></span><span class="path13"></span><span class="path14"></span><span class="path15"></span><span class="path16"></span></span>

                  <h5 style="font-size:17px;min-height: 40px;"><a href="#">Debit Interac</a></h5>
				  <p style="margin-bottom:0px;">&nbsp;</p>
                </div>
              </div>
            </div>
			
          </div>
          </div>
        </div>
      </div>
    </section>

   
    <!-- Easy steps section start -->
    <section class="easy-steps">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 m-auto">
            <div class="sec-heading">
              <h2 class="sec-title">Easy and Fast Steps to Send Money</h2>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-10 col-md-12 m-auto">
            <ul class="steps">
              <li><span>1</span> Create Account</li>
              <li><span>2</span> Complete KYC</li>
              <li><span>3</span> Fund Account</li>
              <li><span>4</span> Send Money</li>
              <li><span>5</span> Receive Money</li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <!-- Easy steps section end -->

    <!-- Payment service section start -->
    <section class="faq-tab bg-offwhite">
      <div class="container">
       <div class="row">
          <div class="col-lg-8 col-md-10 m-auto">
            <div class="sec-heading">
              <h2 class="sec-title">Our Low Flat Rates</h2>
            </div>
          </div>          
        </div>
          <div class="col-md-12 m-auto">
			<div class="row low-pricing owl-carousel">
          <div class="col-lg-12 col-md-12">
            <div class="iconBox boxed-shadow text-center" style="padding: 25px 10px;">
              <img src="assets/images/pricing/1.png" alt="" class="img-icon">
              <h5><a href="#">CAD</a></h5>
              <p style="display:flex;align-items:center;justify-content:space-between;padding-bottom:10px;border-bottom:1px solid #f0f0f0;"><strong style="font-weight:500;">Transfer Amounts</strong><span style="font-weight:500;">Charges</span></p>
			  
              <p style="display:flex;align-items:center;justify-content:space-between;padding:5px 0px;"><strong style="font-weight:500;">50.00-100.00</strong><span>$4.99</span></p>
              <p style="display:flex;align-items:center;justify-content:space-between;padding:5px 0px;"><strong style="font-weight:500;">101-9,999</strong><span>$8.99</span></p>
			  <div class="p-3 d-flex align-items-center justify-content-center"><a href="javascript:;" class="btn btn-filled btn-sm mt-0 btn-default icon-left">              
				  <span class="bh"></span> <span>Send Now</span>
				</a></div>
            </div>
          </div>
          <div class="col-lg-12 col-md-12">
            <div class="iconBox boxed-shadow text-center" style="padding: 25px 10px;">
              <img src="assets/images/pricing/2.png" alt="" class="img-icon">
              <h5><a href="#">USD</a></h5>
              <p style="display:flex;align-items:center;justify-content:space-between;padding-bottom:10px;border-bottom:1px solid #f0f0f0;"><strong style="font-weight:500;">Transfer Amounts</strong><span style="font-weight:500;">Charges</span></p>
			  
             <p style="display:flex;align-items:center;justify-content:space-between;padding:5px 0px;"><strong style="font-weight:500;">50.00-100.00</strong><span>$3.99</span></p>
              <p style="display:flex;align-items:center;justify-content:space-between;padding:5px 0px;"><strong style="font-weight:500;">101-9,999</strong><span>$6.99</span></p>
			  <div class="p-3 d-flex align-items-center justify-content-center"><a href="javascript:;" class="btn btn-filled btn-sm mt-0 btn-default icon-left">              
				  <span class="bh"></span> <span>Send Now</span>
				</a></div>
            </div>
          </div>
          <div class="col-lg-12 col-md-12">
            <div class="iconBox boxed-shadow text-center" style="padding: 25px 10px;">
              <img src="assets/images/pricing/3.png" alt="" class="img-icon">
              <h5><a href="#">GBP</a></h5>
              <p style="display:flex;align-items:center;justify-content:space-between;padding-bottom:10px;border-bottom:1px solid #f0f0f0;"><strong style="font-weight:500;">Transfer Amounts</strong><span style="font-weight:500;">Charges</span></p>
			  
             <p style="display:flex;align-items:center;justify-content:space-between;padding:5px 0px;"><strong style="font-weight:500;">50.00-100.00</strong><span>$2.99</span></p>
              <p style="display:flex;align-items:center;justify-content:space-between;padding:5px 0px;"><strong style="font-weight:500;">101-9,999</strong><span>$4.99</span></p>
			  <div class="p-3 d-flex align-items-center justify-content-center"><a href="javascript:;" class="btn btn-filled btn-sm mt-0 btn-default icon-left">              
				  <span class="bh"></span> <span>Send Now</span>
				</a></div>
            </div>
          </div>
          <div class="col-lg-12 col-md-12">
            <div class="iconBox boxed-shadow text-center" style="padding: 25px 10px;">
              <img src="assets/images/pricing/4.png" alt="" class="img-icon">
              <h5><a href="#">EUR</a></h5>
              <p style="display:flex;align-items:center;justify-content:space-between;padding-bottom:10px;border-bottom:1px solid #f0f0f0;"><strong style="font-weight:500;">Transfer Amounts</strong><span style="font-weight:500;">Charges</span></p>
			  
             <p style="display:flex;align-items:center;justify-content:space-between;padding:5px 0px;"><strong style="font-weight:500;">50.00-100.00</strong><span>$3.99</span></p>
              <p style="display:flex;align-items:center;justify-content:space-between;padding:5px 0px;"><strong style="font-weight:500;">101-9,999</strong><span>$5.99</span></p>
			  <div class="p-3 d-flex align-items-center justify-content-center"><a href="javascript:;" class="btn btn-filled btn-sm mt-0 btn-default icon-left">              
				  <span class="bh"></span> <span>Send Now</span>
				</a></div>
            </div>
          </div>
          <div class="col-lg-12 col-md-12">
            <div class="iconBox boxed-shadow text-center" style="padding: 25px 10px;">
              <span class="roysha-icon roysha-amount"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span><span class="path9"></span><span class="path10"></span><span class="path11"></span></span>
              <h5><a href="#">ALL CURRENCIES</a></h5>
			  <div style="padding:40px 0px;">
              <p class="border-0 mb-0 justify-content-between color-333 text-center" style="font-weight:500;">10,000+</p>
			  <p class="mb-0 border-0">1% of Sending Amount</p>
			  
			  </div>
			  <div class="p-3 d-flex align-items-center justify-content-center"><a href="javascript:;" class="btn btn-filled btn-sm mt-0 btn-default icon-left">              
				  <span class="bh"></span> <span>Send Now</span>
				</a></div>
            </div>
          </div>
        </div>
		</div>
         
        </div>
    </section>
    <!-- Payment service section end -->
<!-- Package section start -->
   <!-- Package section start -->
    <section class="package">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 m-auto text-center">
            <div class="sec-heading">
              <h2 class="sec-title">Know Your Customer (KYC) Plans</h2> 
			  <p class="mb-0"><strong>Quick, Secure and Simple 1-2-3 step process</strong></p>
<p>We’ve made our Identity verification process seamless and its super easy. Get started and try it today</p>

            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-11 m-auto">
            <div class="package-table">
              <table>
                <tr>
                  <th width="240">Required</th>
                  <th>Basic KYC</th>
                  <th>Standard KYC</th>
                  <th>Advanced KYC</th>
                </tr>
                <tr>
                  <td><strong>Sending Amount</strong></td>
                  <td><strong>$50-$500</strong></td>
                  <td><strong>$501-$2000</strong></td>
                  <td><strong>$2000+</strong></td>
                </tr>
                <tr>
                  <td>Document</td>
                  <td><i class="fas fa-times-circle"></i><br/><sup>Enter Information Only</sup></td>
                  <td><i class="fas fa-check-circle"></i></td>
                  <td><i class="fas fa-check-circle"></i></td>
                </tr>
				<tr>
                  <td>Document Type</td>
                  <td>--</td>
                  <td>State ID, Driver Lic Or Passport
<br><sup>(Enter Information + Upload Doc)</sup></td>
                  <td>State ID, Driver Lic Or Passport, Utility Bill, Bank Statement & Selfie
<br><sup>(Enter Information + Upload)</sup></td>
                </tr>
                <tr>
                  <td></td>
                  <td><a href="#" class="btn btn-default"><span class="bh"></span> <span>Get Started</span></a></td>
                  <td><a href="#" class="btn btn-default"><span class="bh"></span> <span>Get Started</span></a></td>
                  <td><a href="#" class="btn btn-default"><span class="bh"></span> <span>Get Started</span></a></td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Package section end -->
    <!-- Package section end -->

    <!-- Payment system works section start -->
    <section class="ps-works no-padding-bottom bg-offwhite">
      <div class="container-fluid">
        <div class="row align-items-center">
          <div class="col-md-6">
            <div class="content-box-fluid right">
              <h2>Refer & Earn Program</h2>
              <p class="m-0"><strong>Refer a friend and earn unlimited cash for each successful referral!</strong> </p>
			  <p class="m-0">At ZIPREMIT we think that great experiences should be shared. So, if you think that your friends would enjoy an innovative and creative way of sending money from Canada to Africa and beyond; then refer them to ZIPREMIT and earn unlimited cash for each successful referral.</p>
			  <p class="m-0"><strong>How to refer a friend:</strong></p>
			  <ol style="margin-left:20px;">
				<li>:
Log in to your online account and Go to your Dashboard; click on ‘Refer-n-friend’.</li><li>
Enter your friend’s name and email address and click ‘Send Invite’. OR can copy and share your personalized link to your social media sites</li><li>
Tell your friend to check his/hers e-mail inbox and to proceed with registration via the link in the e-mail.</li><li>
Track your referrals in your online account under ‘Refer-n-Earn’.</li><li>
Once your friend has registered and successfully sent their first remittance you will find their name in your account under Refer-n-Earn history section</li><li>
You can use your cash to pay for your next money transfer to family! Refer More to Earn More!</li>
</ol>
<a href="https://dev.zipcoinremit.com/How%20to%20refer%20a%20friend.pdf" target="_blank">Click here</a> for a step by step guide on how to refer.<br>
<a href="https://dev.zipcoinremit.com/Refer-n-Earn%20Terms%20and%20Conditions.pdf" target="_blank">Click here </a>for Terms and Conditions.
            </div>
          </div>
          <div class="col-md-6">
            <figure class="video-box"> 
              <img src="assets/images/refer_earn.jpg" alt="" style="z-index:2;">
              <a href="https://vimeo.com/191947042" class="video-btn" style="z-index:3;" data-fancybox><i class="fas fa-play"></i></a>
            </figure>
          </div>
        </div>
      </div>
    </section>
    <!-- Payment system works section end -->
<app-footer></app-footer>