<app-header></app-header>

    <!-- Banner section start -->
    <section class="banner food_aboutus">
        <div class="container">
          <div class="row">
            <div class="col-lg-10 col-md-12 m-auto">
              <div class="ban-content text-center">
                <h1>ONLINE GROCERY SHOPPING & GROCERY DELIVERY</h1>
                <p><strong>ZIPFOOD </strong>makes <strong>online grocery shopping</strong> and <strong>delivery</strong> fast and
  easy. Find <strong>fresh</strong>, high quality food plus all your <strong>supermarket</strong> brand favourites.</p>
              </div>
            </div>     
          </div>
        </div>
      </section>
      <!-- Banner section end -->
  
      
      <!-- Contact section start -->
      <section class="contact bg-offwhite">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-md-6">
              <div class="content-box">
                <h2>ZIPFOOD FEATURES</h2>
               
                <ul class="list">
                  <li><i class="fas fa-check-circle"></i> ZIPFOOD is online community, low cost and fast way to send essential food/ hampers to family </li>
                  <li><i class="fas fa-check-circle"></i> We deliver to your family doorstep. (e-food@zipcoinremit.com)</li>
                  <li><i class="fas fa-check-circle"></i> We accept Debit card, Email Payment/e-Transfer (e-transfers@zipcoinremit.com) Credit card or  ZIPCASH e-Wallet (CAD/USD/GBP/EUR/ZIPCO)</li>
                  <li><i class="fas fa-check-circle"></i> we send money to your families IN MINUTES via our secure website (www.zipcoinremit.com)</li>
                </ul>
                
              </div>
            </div>
            <div class="col-md-6">
              <figure class="imgBox">
                <img src="assets/images/zipfood_features.jpg" alt="">
              </figure>
            </div>
          </div>
  </div>
      </section>
      <section class="bg-white">
      <div class="container">
        <div class="row align-items-center">
           
            <div class="col-md-6">
              <figure class="imgBox">
                <img src="assets/images/zipfood_features1.jpg" alt="">
              </figure>
            </div>
             <div class="col-md-6">
              <div class="content-box">
                <h2>Why ZIPFOOD Is Better Than Our Competitors Online Or Elsewhere</h2>
                
                <ul class="list">
                  <li><i class="fas fa-check-circle"></i> Pay anywhere at anytime </li>
                  <li><i class="fas fa-check-circle"></i> Instant, fast, safe, and secure payments</li>
                  <li><i class="fas fa-check-circle"></i> What you pay for is what your family gets</li>
                  <li><i class="fas fa-check-circle"></i> No border or custom fees</li>
                  <li><i class="fas fa-check-circle"></i> Pay now and few hours later family gets food at their doorstep</li>
                  <li><i class="fas fa-check-circle"></i> To date, none failed order has been recorder.</li>
                  <li><i class="fas fa-check-circle"></i> Trusted brand within our communities</li>
                  <li><i class="fas fa-check-circle"></i> Convenient and Online <span class="theme-color">24x7 365 days</span>; never leave your house again.</li>
                  <li><i class="fas fa-check-circle"></i> Buy and send food on the go wherever and whenever</li>
                  <li><i class="fas fa-check-circle"></i> Quarterly raffles & food prizes to our beneficiaries and senders</li>
                  <li><i class="fas fa-check-circle"></i> Dedicated customer service around the clock and speaks your native language
  </li>
                </ul>
                
              </div>
            </div>
          </div>
        
           </div>
      </section>
      <!-- Contact section end -->
      
      <section class="bg-offwhite pb-4">
          <div class="row m-0">
            <div class="col-lg-8 col-md-10 m-auto">
              <div class="sec-heading">
                <h2 class="sec-title">Reviews</h2>
              </div>
            </div>          
          </div>
          <div class="row review-rating owl-carousel pb-3">
            <div class="col-lg-12 col-md-12">
              <div class="iconBox d-flex flex-column boxed-shadow text-left mb-3" style="padding: 25px 10px;">
                  <div class="d-flex flex-row">
                  <img src="assets/images/icon_avatar.svg" style="margin: 0 15px 0px 0px;width:40px;"/> 
                  <div class="flex-1">
                      <p class="border-0 color-333">Yash Paul</p>
                      <span>
                          <i class="fa fa-star theme-color"></i>
                          <i class="fa fa-star theme-color"></i>
                          <i class="fa fa-star theme-color"></i>
                          <i class="fa fa-star theme-color"></i>
                          <i class="fa fa-star theme-color"></i>
                      </span>
                  
                  </div>
                  </div>
                  <p   class="border-0" style="margin:15px">This is an awesome platfrom as compare to other food and beverage platform!!!</p>
              </div>
          </div>
          <div class="col-lg-12 col-md-12">
              <div class="iconBox d-flex flex-column boxed-shadow text-left mb-3" style="padding: 25px 10px;">
                  <div class="d-flex flex-row">
                  <img src="assets/images/icon_avatar.svg" style="margin: 0 15px 0px 0px;width:40px;"/> 
                  <div class="flex-1">
                      <p class="border-0 color-333">Robert Mocenzie</p>
                      <span>
                          <i class="fa fa-star theme-color"></i>
                          <i class="fa fa-star theme-color"></i>
                          <i class="fa fa-star theme-color"></i>
                          <i class="fa fa-star theme-color"></i>
                          <i class="fa fa-star theme-color"></i>
                      </span>
                  
                  </div>
                  </div>
                  <p   class="border-0" style="margin:15px">“Very easy to find what we wanted on the website.”</p>
              </div>
              </div>
          <div class="col-lg-12 col-md-12">
              <div class="iconBox d-flex flex-column boxed-shadow text-left mb-3" style="padding: 25px 10px;">
                  <div class="d-flex flex-row">
                  <img src="assets/images/icon_avatar.svg" style="margin: 0 15px 0px 0px;width:40px;"/> 
                  <div class="flex-1">
                      <p class="border-0 color-333">Annie V. Merchant</p>
                      <span>
                          <i class="fa fa-star theme-color"></i>
                          <i class="fa fa-star theme-color"></i>
                          <i class="fa fa-star theme-color"></i>
                          <i class="fa fa-star theme-color"></i>
                          <i class="fa fa-star theme-color"></i>
                      </span>
                  
                  </div>
                  </div>
                  <p   class="border-0" style="margin:15px">“Speedy delivery. Himalayan salt sold as advertised. Massive bag will last me a while.”</p>
              </div>
              </div>
          <div class="col-lg-12 col-md-12">
              <div class="iconBox d-flex flex-column boxed-shadow text-left mb-3" style="padding: 25px 10px;">
                  <div class="d-flex flex-row">
                  <img src="assets/images/icon_avatar.svg" style="margin: 0 15px 0px 0px;width:40px;"/> 
                  <div class="flex-1">
                      <p class="border-0 color-333">Yash Paul</p>
                      <span>
                          <i class="fa fa-star theme-color"></i>
                          <i class="fa fa-star theme-color"></i>
                          <i class="fa fa-star theme-color"></i>
                          <i class="fa fa-star theme-color"></i>
                          <i class="fa fa-star theme-color"></i>
                      </span>
                  
                  </div>
                  </div>
                  <p   class="border-0" style="margin:15px">This is an awesome platfrom as compare to other food and beverage platform!!!</p>
              </div>
              </div>
          <div class="col-lg-12 col-md-12">
              <div class="iconBox d-flex flex-column boxed-shadow text-left mb-3" style="padding: 25px 10px;">
                  <div class="d-flex flex-row">
                  <img src="assets/images/icon_avatar.svg" style="margin: 0 15px 0px 0px;width:40px;"/> 
                  <div class="flex-1">
                      <p class="border-0 color-333">Robert Mocenzie</p>
                      <span>
                          <i class="fa fa-star theme-color"></i>
                          <i class="fa fa-star theme-color"></i>
                          <i class="fa fa-star theme-color"></i>
                          <i class="fa fa-star theme-color"></i>
                          <i class="fa fa-star theme-color"></i>
                      </span>
                  
                  </div>
                  </div>
                  <p   class="border-0" style="margin:15px">“Very easy to find what we wanted on the website.”</p>
              </div>
              </div>
          <div class="col-lg-12 col-md-12">
              <div class="iconBox d-flex flex-column boxed-shadow text-left mb-3" style="padding: 25px 10px;">
                  <div class="d-flex flex-row">
                  <img src="assets/images/icon_avatar.svg" style="margin: 0 15px 0px 0px;width:40px;"/> 
                  <div class="flex-1">
                      <p class="border-0 color-333">Annie V. Merchant</p>
                      <span>
                          <i class="fa fa-star theme-color"></i>
                          <i class="fa fa-star theme-color"></i>
                          <i class="fa fa-star theme-color"></i>
                          <i class="fa fa-star theme-color"></i>
                          <i class="fa fa-star theme-color"></i>
                      </span>
                  
                  </div>
                  </div>
                  <p   class="border-0" style="margin:15px">“Speedy delivery. Himalayan salt sold as advertised. Massive bag will last me a while.”</p>
              </div>
            </div>
            </div>
      </section>
<app-footer></app-footer>