<app-header></app-header>
 <!-- Banner section start -->
 <section class="banner v5">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-12 m-auto">
        <div class="ban-content text-center">
          <h1>FAST.EASY.SECURE.</h1>
          <p class="mb-0">ZIPREMIT money transfer is a safe way to get more money to your loved ones quickly and easily. And with us, you can track your cash every step of the way to its ultimate destination.</p>
          <p>
Our service opened up a world of options and possibilities beyond your local bank or corner financial stores — options that typically come with competitive exchange rates, low or no fees and flexible ways to receive hard cash in minutes.
</p>
    
        </div>
  <h5 class="text-white text-center mb-3">Enter the required information below to see if your money is available.</h5>
        <form class="bill-form v2" action="#">
          <div class="form-field">
            <input type="text" placeholder="REF/AUTH Number">
          </div>
          <div class="form-field">
            <div class="join-field">
              <input type="text" placeholder="Your Last Name">
              <button class="btn btn-block btn-filled form-btn">
                <span class="bh"></span> <span>Track Money &nbsp; <i class="fas fa-arrow-right"></i></span>
              </button>
            </div>
          </div>
        </form>
      </div>        
    </div>
  </div>
</section>
<!-- Banner section end -->

<!-- System works start -->
<section class="system-works bg-offwhite">
  <div class="container">
    
    <div class="row">
      <div class="col-md-12 m-auto">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Transaction ID</th>
        <th>First/Last Name</th>
        <th>Amount</th>
        <th>Status</th>
        <th>Transaction Date</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Tr000132433</td>
        <td>Paul Jr.</td>
        <td>$500.00</td>
        <td><span class="text-warning">Pending</span></td>
        <td>10-03-2020 6:30AM</td>
      </tr>
    </tbody>
  </table>
      </div>
    </div>
  </div>
</section>
<section class="easy-steps bg-offwhite">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 m-auto">
        <div class="sec-heading">
          <h2 class="sec-title">Our Coverage Map</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-10 col-md-12 m-auto">
        <img src="images/coverage_map.jpg"/>
      </div>
    </div>
<br>
<p class="text-center"><a href="#" class="btn btn-filled btn-round"><span class="bh"></span> <span>Send Money</span></a></p>
  </div>
</section>
<!-- System works end -->
<app-footer></app-footer>