<app-header></app-header>

    <!-- Banner section start -->
    <section class="banner agent-banner">
        <div class="container">
          <div class="row">
            <div class="col-lg-10 col-md-12 m-auto">
              <div class="ban-content text-center">
                <h1>ZIPREMIT AGENT</h1>
                <h3 class="theme-color text-white">Business minded?</h3>
                <p>No problem! Grow your business today.</p><br>    
              </div>
            </div>     
          </div>
        </div>
      </section>
      <!-- Banner section end -->
  
  <section class="payment-service bg-offwhite">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-md-6">
              <div class="content-box">
                <h2>Become a ZIPREMIT Agent</h2>
                <ul class="list">
                  <li><i class="fas fa-check-circle"></i> 
  You are a franchisee or local business or regular ZIPREMIT customer with extra cash. </li>
                  <li><i class="fas fa-check-circle"></i> 
  You want to get paid for dispatching cash to ZIPREMIT Beneficiaries.</li>
                  <li><i class="fas fa-check-circle"></i> 
  You need to grow your portfolio and be part of the financial inclusion.</li>
                  <li><i class="fas fa-check-circle"></i> You want to attract new customers to your business.</li>
                  <li><i class="fas fa-check-circle"></i> 
  You are looking for a way to increase your profits and ROI.</li>
                  <li><i class="fas fa-check-circle"></i> 
  You want to generate new cross-selling opportunities.</li>
                </ul>
                <a href="#" class="btn btn-default"><span class="bh"></span> <span>SEND MONEY</span></a>
              </div>
            </div>
            <div class="col-md-6">
              <figure class="imgBox">
                <img src="http://dev.zipcoinremit.com/solu/assets/images/section/s_18.png" alt="">
              </figure>
            </div>
          </div>
        </div>
      </section>
      <!-- Payment service section end -->
      
        <!-- Banner section start -->
      <section class="banner v7 agentfrm">
        <div class="container">
          <div class="row align-items-center">
            
            <div class="col-lg-5 col-md-12">
              <form class="currency-form" action="#">
                <h4>Contact Us</h4>
                <div class="form-field">
                  <label>Name</label>
                  <div class="join-field">
                    <input type="text" name="send_amount" placeholder="Enter Your Name">                  
                  </div>
                </div>
              <div class="form-field">
                  <label>Email</label>
                  <div class="join-field">
                    <input type="text" name="send_amount" placeholder="Enter Your Email">                  
                  </div>
                </div>
                <button class="btn btn-block btn-filled form-btn">                
                  <span class="bh"></span> <span>Submit <i class="fas fa-arrow-right"></i></span>
                </button>
                <span class="accept-terms">By clicking continue, i agree with <a href="#">Terms &amp; Policy</a></span>
              </form>
            </div> 
  <div class="col-lg-7 col-md-12">
              <div class="ban-content">
                <h1>Just One Step to Become ZIPREMIT AGENT</h1>
                <p><i>How you can grow you portfolio, attract new customer and generate new revenue path? </i></p>
                <p>We are commited to bring our service to every corner of the emerging African markets and beyond.Thanks to our strong brand, enduring agent relationships and an innovative product range, we have been able to serve under privileged markets while positioning <strong>ZIPREMIT</strong> for future growth.</p>
                <p>Become a <strong>ZIPREMIT</strong> agent and join our agent network in delivering best-in-class service to our consumer base.Offering  <strong>ZIPREMIT</strong> money transfer give yourself and your business the opportunity to increase it bottom-line revenue while strengthening your competitive advantage.</p>
              </div>
            </div>		  
          </div>
        </div>
      </section>
      <!-- Banner section end -->
      
  <!-- Package section start -->
      <section class="team bg-offwhite" style="background:#f7faff;">
        <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 m-auto">
              <div class="sec-heading">
                <h2 class="sec-title">Exclusive Agent Packages</h2>
              </div>
            </div>          
          </div>
          <div class="row agent-pricing">
            <div class="col-lg-3">
                  <div class="iconBox boxed-shadow text-center px-3">
                   
  
                    <h5><a href="#">Basic Package</a></h5>
                    <hr>
                    <p class="feature"><i class="fa fa-check"></i><span><strong>10,000.00 ZIPCOs</strong> 	<br>
  <sup>(transfer capacity of 100usd to 500 USD)</sup></span></p>
                    <p class="feature mt-2"><i class="fa fa-check"></i><span><strong>50 Bonus of ZIPCO tokens</strong></span></p>
                    
                    <a href="javascript:;" class="btn btn-filled btn-default icon-left">              
                <span class="bh" style="top: 43.6719px; left: 215.806px;"></span> <span>Send Now</span>
              </a>
                  </div>
                </div>
            <div class="col-lg-3">
                  <div class="iconBox boxed-shadow text-center px-3">
                   
  
                    <h5><a href="#">Bronze Package</a></h5>
                    <hr>
                    <p class="feature"><i class="fa fa-check"></i><span><strong>100,000.00 ZIPCOs</strong> 	<br>
  <sup>(transfer capacity of 501usd to 1,000usd)</sup></span></p>
                    <p class="feature mt-2"><i class="fa fa-check"></i><span><strong>500 Bonus of ZIPCO tokens</strong></span></p>
                    
                    <a href="javascript:;" class="btn btn-filled btn-default icon-left">              
                <span class="bh" style="top: 43.6719px; left: 215.806px;"></span> <span>Buy Now</span>
              </a>
                  </div>
                </div>
            <div class="col-lg-3">
                  <div class="iconBox boxed-shadow text-center px-3">
                   
  
                    <h5><a href="#">ZIPCO Signature Package</a></h5>
                    <hr>
                    <p class="feature"><i class="fa fa-check"></i><span><strong>1,000,000.00 ZIPCOs</strong> 	<br>
  <sup>(transfer capacity of 1,001usd to 5,000 USD)</sup></span></p>
                    <p class="feature mt-2"><i class="fa fa-check"></i><span><strong>700 Bonus of ZIPCO tokens</strong></span></p>
                   <hr>
                    <p class="feature mt-3"><span class="text-center"><strong>Equity stake % to be confirmed</strong></span></p>
                   <span style="font-size:10px;"><sup>*</sup> T&Cs Apply</span>
                    <a href="javascript:;" class="btn btn-filled btn-default icon-left">              
                <span class="bh" style="top: 43.6719px; left: 215.806px;"></span> <span>Buy Now</span>
              </a>
                  </div>
                </div>
            <div class="col-lg-3">
                  <div class="iconBox boxed-shadow text-center px-3">
                   
  
                    <h5><a href="#">Platinum
  Package</a></h5>
                    <hr>
                    <p class="feature"><i class="fa fa-check"></i><span><strong>10,000,000.00 ZIPCOs</strong> 	<br>
  <sup>(transfer capacity of 5,001usd to 10,000 USD) </sup></span></p>
                    <p class="feature mt-2"><i class="fa fa-check"></i><span><strong>1000 Bonus of ZIPCO tokens</strong></span></p>
                    <hr>
                    <p class="feature mt-3"><span class="text-center"><strong>Equity stake % to be confirmed .</strong></span></p>
                    <span style="font-size:10px;"><sup>*</sup> T&Cs Apply</span>
                    
                    <a href="javascript:;" class="btn btn-filled btn-default icon-left">              
                <span class="bh" style="top: 43.6719px; left: 215.806px;"></span> <span>Send Now</span>
              </a>
                  </div>
                </div>
          </div>
          </div>
      </section>
      <!-- Package section end -->
<app-footer></app-footer>
