<section class="easy-steps bg-offwhite">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 m-auto" style="max-height: 380px;">
          <div class="sec-heading">
            <h2 class="sec-title">Our Coverage Map</h2>
          </div>
          <div class="notation">
            <div><span class="notation-box one"></span> Covered</div>
            <div><span class="notation-box two"></span> Not Covered</div>
          </div>
          <br/>
          <br/>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-10 col-md-12 m-auto" style="max-height: 380px;">
          <div classs="row" style="display:flex;justify-content: center;">
            <div>
                <h4>Africa</h4>
              <div class="jsmaps-wrapper" id="africa-map"></div>
            </div>
            <div>
                <h4>Nepal</h4>
              <div class="jsmaps-wrapper" id="nepal-map"></div>
            </div>
          </div>
         
          <!-- <img src="assets/images/coverage_map.jpg"/> -->
        </div>
      </div>
    </div>
  </section>