<app-header></app-header>

    <!-- Banner section start -->
    <section class="banner contactus_banner">
      <div class="container">
        <div class="row">
          <div class="col-lg-10 col-md-12 m-auto">
            <div class="ban-content text-center">
              <h1>HAVE QUESTIONS? WE HAVE ANSWERS!</h1>
              <p>Most questions can be answered instantly from our FAQ page.
Prefer to send an email? Not a problem. Just fill out the fields below and we'll be in touch shortly.</p>
            </div>
          </div>     
        </div>
      </div>
    </section>
    <!-- Banner section end -->

	
    <!-- Contact section start -->
    <section class="contact bg-offwhite">
      <div class="container">
		<div class="sec-heading">
                <h2 class="sec-title">Contact ZIPREMIT</h2>
              </div>
        <div class="row align-items-top">
		
          <div class="col-md-7  nopadd-rth">
			
            <div class="contact-from-wrap">
              
              <form action="" class="contact-form clearfix">
				<fieldset>
					<legend>What we can help you with?</legend>
					<hr style="border-color:#333;">
				<div class="form-group row align-items-end">
                  <div class="col-sm-12 mb-4 mb-sm-0">
                    <input type="radio"> General Question & Feedback
                  </div>
                  <div class="col-sm-12 mb-4 mb-sm-0">
                    <input type="radio"> Complaint
                  </div>
                  <div class="col-sm-12 mb-4 mb-sm-0">
                    <input type="radio"> Report Fraud
                  </div>
                </div>
                <div class="form-group">
                  <label>Comments</label>
                  <textarea class="form-control" placeholder="Your messege" rows="3"></textarea>
                </div>
				</fieldset>
				<fieldset>
					<legend>Contact Information</legend>
					<hr style="border-color:#333;">
                <div class="form-group row align-items-end">
                  <div class="col-sm-6 mb-4 mb-sm-0">
                    <label>Legal First Name</label>
                    <input type="text" class="form-control">
                  </div>
                  <div class="col-sm-6">
                    <label>Legal Last Name</label>
                    <input type="text" class="form-control">
                  </div>
                </div>
                <div class="form-group">
                  <label>Email address</label>
                  <input type="email" class="form-control">
                </div>
                <div class="form-group">
                  <input type="checkbox"> I do not have an email address
                </div>
				</fieldset>
				<fieldset>
					<legend>Additional Information</legend>
									<hr style="border-color:#333;">
                <div class="form-group">
                  <label>Service Type</label>
                  <select class="form-control service-type">
					<option value="money-transfer">Money Transfer</option>
					<option value="buy-food">Buy Food</option>
					<option value="api-packages">API Packages</option>
					<option value="compliance-packages">Compliance Packages</option>
					<option value="airtime-recharge">AirTime Recharge</option>
					<option value="zipcash-e-wallet">ZIPCASH e-Wallet</option>
				  </select>
                </div>
				<div class="hidden-services">
				<div class="money-transfer-container">
					<div class="form-group row align-items-end">
					  <div class="col-sm-7 mb-4 mb-sm-0">
						<label>TRANSACTION REFERENCE NUMBER (OPTIONAL)</label>
						<input type="text" class="form-control">
					  </div>
					  <div class="col-sm-5">
						<label>SEND DATE</label>
						<input type="date" class="form-control">
					  </div>
					</div>
					<div class="form-group row align-items-end">
					  <div class="col-sm-6 mb-4 mb-sm-0">
						<label>SEND COUNTRY</label>
						  <select class="form-control">
							<option>India</option>
							<option>Canada</option>
							<option>Nepal</option>
						  </select>
					  </div>
					  <div class="col-sm-6">
						<label>Receive COUNTRY</label>
						<select class="form-control">
							<option>India</option>
							<option>Canada</option>
							<option>Nepal</option>
						  </select>
					  </div>
					</div>
				</div>
				<div class="buy-food-container" style="display:none;">
					<div class="form-group row align-items-end">
					  <div class="col-sm-7 mb-4 mb-sm-0">
						<label>Hamper Type</label>
						<select class="form-control">
							<option>Kitchen Compliance</option>
							<option>Grocery</option>
							<option>Edible Oil</option>
						  </select>
					  </div>
					  <div class="col-sm-5">
						<label>SEND DATE</label>
						<input type="date" class="form-control">
					  </div>
					</div>
					<div class="form-group row align-items-end">
					  <div class="col-sm-6 mb-4 mb-sm-0">
						<label>SEND COUNTRY</label>
						  <select class="form-control">
							<option>India</option>
							<option>Canada</option>
							<option>Nepal</option>
						  </select>
					  </div>
					  <div class="col-sm-6">
						<label>Receive COUNTRY</label>
						<select class="form-control">
							<option>India</option>
							<option>Canada</option>
							<option>Nepal</option>
						  </select>
					  </div>
					</div>
				</div>
				</div>
				
				<div class="form-group">
                  <input type="checkbox" class="showexisting"> I have an existing case number
                </div>
				 <div class="form-group existing_case_number">
                  <label>Existing Case Number</label>
                  <input type="text" class="form-control">
                </div>
				</fieldset>
                <button type="submit" class="btn btn-filled btn-round"><span class="bh"></span> <span>Send</span></button>
              </form>
            </div>
          </div>
          <div class="col-md-5  nopadd-ltf" style="background-color: #dba84e;">
            <div class="contact-info-wrap ">
			<h2 class="sec-title text-white">Contact Info</h2>
			<p class="text-white">We Always love to hear back from our fans!</p>
              <address>
                <i class="fas fa-envelope"></i>
                <span>Email Address</span>
                <a href="#">info@zipcoinremit.com</a>
              </address>
              <address>
                <i class="fas fa-phone-alt"></i>
                <span>Phone Number</span>
                <a href="tel:+12345678912">+403-389-8231</a>
              </address>
              <address>
                <i class="fa fa-globe"></i>
                <span>Website</span>
                <a href="tel:+12345678912">www.zipcoinremit.com</a>
              </address>

              <address>
                <i class="fas fa-map-marker-alt"></i>
                <span>Our Mailing Address</span>
                P. O BOX 40768, #20-12192 Symons Valley Rd, NW, Calgary, AB, T3P 0A0, Canada
              </address>
			  
			  <address>
                <i class="fas fa-map-marker-alt"></i>
                <span>Physical Address</span>
				ZIPCOIN REMIT HQ (D21), 191-260300 Writing Creek Crescent, Rocky View County, Alberta T4A 0X8, Canada
              </address>
			  <address>
                <i class="fas fa-question"></i>
                <span>Support Helpdek</span>
                <a href="" style="float: left;
    text-decoration: underline;
    margin-right: 10px;">Click Here</a> For Support
              </address>
            </div>
          </div>
        </div>
		<div style="width: 100%;position: relative;"><iframe style="width:100%;" height="440" src="https://maps.google.com/maps?width=700&amp;height=440&amp;hl=en&amp;q=191-260300%20Writing%20Creek%20Crescent%2C%20Rocky%20View%20County%2C%20Alberta%20T4A%200X8%2C%20Canada+(ZIPCOIN%20REMIT%20HQ%20(D21)&amp;ie=UTF8&amp;t=&amp;z=14&amp;iwloc=B&amp;output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><div style="position: absolute;width: 80%;bottom: 10px;left: 0;right: 0;margin-left: auto;margin-right: auto;color: #000;text-align: center;"><small style="line-height: 1.8;font-size: 2px;background: #fff;">Powered by <a href="http://www.googlemapsgenerator.com/ja/">gmapgen jp</a> & <a href="https://dnatestafkomstvergelijken.nl/">dna test afkomst</a></small></div><style>#gmap_canvas img{max-width:none!important;background:none!important}</style></div><br /><br />
      </div>
    </section>
    <!-- Contact section end -->
<app-footer></app-footer>