<app-header></app-header>
 <!-- Banner section start -->
 <section class="banner kyc">
    <div class="container">
      <div class="row">
        <div class="col-lg-10 col-md-12 m-auto">
          <div class="ban-content text-center">
            <h1>3X LOWER THAN OUR COMPETITORS</h1>
            <h3 class="text-white">Money transfer done right</h3>
            <p>Need to send money abroad to family, friends, and loved ones? At ZIPREMIT, we've got you covered. You can send money transfers to Africa, Nepal and beyond at the lowest price and 3X more to family. Our users can buy gift cards and airtime for global usage, freely, cheaply and instantly.</p>
            <a href="#" class="btn btn-filled btn-round"><span class="bh"></span> <span>Send Money</span></a>
          </div>
        </div>     
      </div>
    </div>
  </section>
  <!-- Banner section end -->



  <!-- Payment service section start -->
  <section class="faq-tab bg-offwhite">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 m-auto">
          <div class="sec-heading">
            <h2 class="sec-title">Our Low Flat Rates</h2>
          </div>
        </div>          
      </div>
      <div class="col-md-12 m-auto">
          <div class="row low-pricing owl-carousel">
        <div class="col-lg-12 col-md-12">
          <div class="iconBox boxed-shadow text-center" style="padding: 25px 10px;">
            <img src="assets/images/pricing/1.png" alt="" class="img-icon">
            <h5><a href="#">CAD</a></h5>
            <p style="display:flex;align-items:center;justify-content:space-between;padding-bottom:10px;border-bottom:1px solid #f0f0f0;"><strong style="font-weight:500;">Transfer Amounts</strong><span style="font-weight:500;">Charges</span></p>
            
            <p style="display:flex;align-items:center;justify-content:space-between;padding:5px 0px;"><strong style="font-weight:500;">50.00-100.00</strong><span>$4.99</span></p>
            <p style="display:flex;align-items:center;justify-content:space-between;padding:5px 0px;"><strong style="font-weight:500;">101-9,999</strong><span>$8.99</span></p>
            <div class="p-3 d-flex align-items-center justify-content-center"><a href="javascript:;" class="btn btn-filled btn-sm mt-0 btn-default icon-left">              
                <span class="bh"></span> <span>Send Now</span>
              </a></div>
          </div>
        </div>
        <div class="col-lg-12 col-md-12">
          <div class="iconBox boxed-shadow text-center" style="padding: 25px 10px;">
            <img src="assets/images/pricing/2.png" alt="" class="img-icon">
            <h5><a href="#">USD</a></h5>
            <p style="display:flex;align-items:center;justify-content:space-between;padding-bottom:10px;border-bottom:1px solid #f0f0f0;"><strong style="font-weight:500;">Transfer Amounts</strong><span style="font-weight:500;">Charges</span></p>
            
           <p style="display:flex;align-items:center;justify-content:space-between;padding:5px 0px;"><strong style="font-weight:500;">50.00-100.00</strong><span>$3.99</span></p>
            <p style="display:flex;align-items:center;justify-content:space-between;padding:5px 0px;"><strong style="font-weight:500;">101-9,999</strong><span>$6.99</span></p>
            <div class="p-3 d-flex align-items-center justify-content-center"><a href="javascript:;" class="btn btn-filled btn-sm mt-0 btn-default icon-left">              
                <span class="bh"></span> <span>Send Now</span>
              </a></div>
          </div>
        </div>
        <div class="col-lg-12 col-md-12">
          <div class="iconBox boxed-shadow text-center" style="padding: 25px 10px;">
            <img src="assets/images/pricing/3.png" alt="" class="img-icon">
            <h5><a href="#">GBP</a></h5>
            <p style="display:flex;align-items:center;justify-content:space-between;padding-bottom:10px;border-bottom:1px solid #f0f0f0;"><strong style="font-weight:500;">Transfer Amounts</strong><span style="font-weight:500;">Charges</span></p>
            
           <p style="display:flex;align-items:center;justify-content:space-between;padding:5px 0px;"><strong style="font-weight:500;">50.00-100.00</strong><span>$2.99</span></p>
            <p style="display:flex;align-items:center;justify-content:space-between;padding:5px 0px;"><strong style="font-weight:500;">101-9,999</strong><span>$4.99</span></p>
            <div class="p-3 d-flex align-items-center justify-content-center"><a href="javascript:;" class="btn btn-filled btn-sm mt-0 btn-default icon-left">              
                <span class="bh"></span> <span>Send Now</span>
              </a></div>
          </div>
        </div>
        <div class="col-lg-12 col-md-12">
          <div class="iconBox boxed-shadow text-center" style="padding: 25px 10px;">
            <img src="assets/images/pricing/4.png" alt="" class="img-icon">
            <h5><a href="#">EURO</a></h5>
            <p style="display:flex;align-items:center;justify-content:space-between;padding-bottom:10px;border-bottom:1px solid #f0f0f0;"><strong style="font-weight:500;">Transfer Amounts</strong><span style="font-weight:500;">Charges</span></p>
            
           <p style="display:flex;align-items:center;justify-content:space-between;padding:5px 0px;"><strong style="font-weight:500;">50.00-100.00</strong><span>$3.99</span></p>
            <p style="display:flex;align-items:center;justify-content:space-between;padding:5px 0px;"><strong style="font-weight:500;">101-9,999</strong><span>$5.99</span></p>
            <div class="p-3 d-flex align-items-center justify-content-center"><a href="javascript:;" class="btn btn-filled btn-sm mt-0 btn-default icon-left">              
                <span class="bh"></span> <span>Send Now</span>
              </a></div>
          </div>
        </div>
        <div class="col-lg-12 col-md-12">
          <div class="iconBox boxed-shadow text-center" style="padding: 25px 10px;">
            <span class="roysha-icon roysha-amount"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span><span class="path9"></span><span class="path10"></span><span class="path11"></span></span>
            <h5><a href="#">ALL CURRENCIES</a></h5>
            <div style="padding:40px 0px;">
            <p class="border-0 mb-0 justify-content-between color-333 text-center" style="font-weight:500;">10,000+</p>
            <p class="mb-0 border-0">1% of Sending Amount</p>
            
            </div>
            <div class="p-3 d-flex align-items-center justify-content-center"><a href="javascript:;" class="btn btn-filled btn-sm mt-0 btn-default icon-left">              
                <span class="bh"></span> <span>Send Now</span>
              </a></div>
          </div>
        </div>
      </div>
          <div class="row flex-row iconBox boxed-shadow p-0 align-items-center mb-3" style="background: linear-gradient(90deg, #e6e49d 11%, #fff 10%);display:none;">
                      <div class="p-3 d-flex flex-column align-items-center">
                              <img src="assets/images/pricing/1.png" alt="" class="img-icon mb-0 mb-2 mt-2">
                              <h6 class="text-white text-center mb-0">CAD</h6>
                      </div>
                      <div class="flex-1 p-3">
                          <p><strong>Transfer Amounts</strong></p>
                          <div class="d-flex mt-2">
                              <div class="border-right flex-1">
                                  <p class="d-flex mb-0 justify-content-between color-333" style="font-weight:500;">50.00 to 100.00</p>
                                  <p class="mb-0">$4.99</p>
                              </div>
                              <div class="ml-4 flex-1">
                                  <p class="d-flex mb-0 justify-content-between"  style="font-weight:500;">101 to 9,999</p>
                                  <p class="mb-0">$8.99</p>
                              </div>
                          </div>
                      </div>
                      <div class="p-3 d-flex align-items-center"><a href="javascript:;" class="btn btn-filled btn-sm mt-0 btn-default icon-left">              
                <span class="bh"></span> <span>Send Now</span>
              </a></div>
          </div>
          <div class="row flex-row iconBox boxed-shadow p-0 align-items-center mb-3" style="background: linear-gradient(90deg, #e6e49d 11%, #fff 10%);display:none;">
                      <div class="p-3 d-flex flex-column align-items-center">
                              <img src="assets/images/pricing/2.png" alt="" class="img-icon mb-0 mb-2 mt-2">
                              <h6 class="text-white text-center mb-0">USD</h6>
                      </div>
                      <div class="flex-1 p-3">
                          <p><strong>Transfer Amounts</strong></p>
                          <div class="d-flex mt-2">
                              <div class="border-right flex-1">
                                  <p class="d-flex mb-0 justify-content-between color-333" style="font-weight:500;">50.00 to 100.00</p>
                                  <p class="mb-0">$3.99</p>
                              </div>
                              <div class="ml-4 flex-1">
                                  <p class="d-flex mb-0 justify-content-between"  style="font-weight:500;">101 to 9,999</p>
                                  <p class="mb-0">$6.99</p>
                              </div>
                          </div>
                      </div>
                      <div class="p-3 d-flex align-items-center"><a href="javascript:;" class="btn btn-filled btn-sm mt-0 btn-default icon-left">              
                <span class="bh"></span> <span>Send Now</span>
              </a></div>
          </div>
          <div class="row flex-row iconBox boxed-shadow p-0 align-items-center mb-3" style="background: linear-gradient(90deg, #e6e49d 11%, #fff 10%);display:none;">
                      <div class="p-3 d-flex flex-column align-items-center">
                              <img src="assets/images/pricing/3.png" alt="" class="img-icon mb-0 mb-2 mt-2">
                              <h6 class="text-white text-center mb-0">GBP</h6>
                      </div>
                      <div class="flex-1 p-3">
                          <p><strong>Transfer Amounts</strong></p>
                          <div class="d-flex mt-2">
                              <div class="border-right flex-1">
                                  <p class="d-flex mb-0 justify-content-between color-333" style="font-weight:500;">50.00 to 100.00</p>
                                  <p class="mb-0">$2.99</p>
                              </div>
                              <div class="ml-4 flex-1">
                                  <p class="d-flex mb-0 justify-content-between"  style="font-weight:500;">101 to 9,999</p>
                                  <p class="mb-0">$4.99</p>
                              </div>
                          </div>
                      </div>
                      <div class="p-3 d-flex align-items-center"><a href="javascript:;" class="btn btn-filled btn-sm mt-0 btn-default icon-left">              
                <span class="bh"></span> <span>Send Now</span>
              </a></div>
          </div>
          <div class="row flex-row iconBox boxed-shadow p-0 align-items-center mb-3" style="background: linear-gradient(90deg, #e6e49d 11%, #fff 10%);display:none;">
                      <div class="p-3 d-flex flex-column align-items-center">
                              <img src="assets/images/pricing/4.png" alt="" class="img-icon mb-0 mb-2 mt-2">
                              <h6 class="text-white text-center mb-0">EURO</h6>
                      </div>
                      <div class="flex-1 p-3">
                          <p><strong>Transfer Amounts</strong></p>
                          <div class="d-flex mt-2">
                              <div class="border-right flex-1">
                                  <p class="d-flex mb-0 justify-content-between color-333" style="font-weight:500;">50.00 to 100.00</p>
                                  <p class="mb-0">$3.99</p>
                              </div>
                              <div class="ml-4 flex-1">
                                  <p class="d-flex mb-0 justify-content-between"  style="font-weight:500;">101 to 9,999</p>
                                  <p class="mb-0">$5.99</p>
                              </div>
                          </div>
                      </div>
                      <div class="p-3 d-flex align-items-center"><a href="javascript:;" class="btn btn-filled btn-sm mt-0 btn-default icon-left">              
                <span class="bh"></span> <span>Send Now</span>
              </a></div>
          </div>
          <div class="row flex-row iconBox boxed-shadow p-0 align-items-center mb-3" style="background: linear-gradient(90deg, #e6e49d 11%, #fff 10%);display:none;">
                      <div class="p-3 d-flex flex-column align-items-center">
                              <span class="roysha-icon roysha-amount" style="font-size:52px;margin-bottom:4px;"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span><span class="path9"></span><span class="path10"></span><span class="path11"></span></span>

                              <h6 class="text-white text-center mb-0">All</h6>
                              <h6 class="text-white text-center mb-0" style="margin-left: -16px;width: 100%;">Currencies</h6>
                      </div>
                      <div class="flex-1 p-3">
                          <p><strong>Transfer Amounts</strong></p>
                          <div class="d-flex mt-2">
                              <div class="border-right flex-1">
                                  <p class="d-flex mb-0 justify-content-between color-333" style="font-weight:500;">10,000+</p>
                                  <p class="mb-0">1% of Sending Amount</p>
                              </div>							</div>
                      </div>
                      <div class="p-3 d-flex align-items-center"><a href="javascript:;" class="btn btn-filled btn-sm mt-0 btn-default icon-left">              
                <span class="bh"></span> <span>Send Now</span>
              </a></div>
          </div>
      </div>	
       
      </div>
  </section>
  <!-- Payment service section end -->
<!-- Package section start -->
  <section class="package">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 m-auto text-center">
          <div class="sec-heading">
            <h2 class="sec-title">Know Your Customer (KYC) Plans</h2> 
            <p class="mb-0"><strong>Quick, Secure and Simple 1-2-3 step process</strong></p>
<p>We’ve made our Identity verification process seamless and its super easy. Get started and try it today</p>
  
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-11 m-auto">
          <div class="package-table">
            <table>
              <tr>
                <th width="240">Required</th>
                <th>Basic KYC</th>
                <th>Standard KYC</th>
                <th>Advanced KYC</th>
              </tr>
              <tr>
                <td><strong>Sending Amount</strong></td>
                <td><strong>$50-$500</strong></td>
                <td><strong>$501-$2000</strong></td>
                <td><strong>$2000+</strong></td>
              </tr>
              <tr>
                <td>Document</td>
                <td><i class="fas fa-times-circle"></i><br><sup>Enter Information Only</sup></td>
                <td><i class="fas fa-check-circle"></i></td>
                <td><i class="fas fa-check-circle"></i></td>
              </tr>
              <tr>
                <td>Document Type</td>
                <td>--</td>
                <td>State ID, Driver Lic Or Passport
<br><sup>(Enter Information + Upload Doc)</sup></td>
                <td>State ID, Driver Lic Or Passport, Utility Bill, Bank Statement & Selfie
<br><sup>(Enter Information + Upload)</sup></td>
              </tr>
              <tr>
                <td></td>
                <td><a href="#" class="btn btn-default"><span class="bh"></span> <span>Get Started</span></a></td>
                <td><a href="#" class="btn btn-default"><span class="bh"></span> <span>Get Started</span></a></td>
                <td><a href="#" class="btn btn-default"><span class="bh"></span> <span>Get Started</span></a></td>
              </tr>
            </table>
          </div>
          
        </div>
      </div>
    </div>
  </section>
  <!-- Package section end -->
<!-- Payment system works section start -->
  <section class="ps-works no-padding-bottom bg-offwhite">
    <div class="container-fluid">
      <div class="row align-items-center">
        <div class="col-md-6">
          <div class="content-box-fluid right">
            <h2>Refer & Earn Program</h2>
            <p class="m-0"><strong>Refer a friend and earn unlimited cash for each successful referral!</strong> </p>
            <p class="m-0">At ZIPREMIT we think that great experiences should be shared. So, if you think that your friends would enjoy an innovative and creative way of sending money from Canada to Africa and beyond; then refer them to ZIPREMIT and earn unlimited cash for each successful referral.</p>
            <p class="m-0"><strong>How to refer a friend:</strong></p>
            <ol style="margin-left:20px;">
              <li>:
Log in to your online account and Go to your Dashboard; click on ‘Refer-n-friend’.</li><li>
Enter your friend’s name and email address and click ‘Send Invite’. OR can copy and share your personalized link to your social media sites</li><li>
Tell your friend to check his/hers e-mail inbox and to proceed with registration via the link in the e-mail.</li><li>
Track your referrals in your online account under ‘Refer-n-Earn’.</li><li>
Once your friend has registered and successfully sent their first remittance you will find their name in your account under Refer-n-Earn history section</li><li>
You can use your cash to pay for your next money transfer to family! Refer More to Earn More!</li>
</ol>
<a href="">Click here</a> for a step by step guide on how to refer.<br>
<a href="">Click here </a>for Terms and Conditions.
          </div>
        </div>
        <div class="col-md-6">
          <figure class="video-box"> 
            <img src="assets/images/refer_earn.jpg" alt="" style="z-index:2;">
            <a href="https://vimeo.com/191947042" class="video-btn" style="z-index:3;" data-fancybox><i class="fas fa-play"></i></a>
          </figure>
        </div>
      </div>
    </div>
  </section>
  <!-- Payment system works section end -->
<app-footer></app-footer>