<app-header></app-header>


    <!-- Banner section start -->
    <section class="banner zipfoundation">
        <div class="container">
          <div class="row">
            <div class="col-lg-11 col-md-12 m-auto">
              <div class="ban-content text-center ">
                <h1>OUR SUCCESSES ARE REALLY YOUR SUCCESS</h1>
                <p>Learn more on how ZIPREMIT and its communities are engaging, collaborating <br>and working together for a bright future.</p>
              </div>
            </div>     
          </div>
        </div>
      </section>
      <!-- Banner section end -->
      
      <section class="team bg-offwhite" style="background:#f7faff;">
        <div class="container">
          <div class="row">
            <div class="col-lg-4 col-sm-6">
              <div class="team-member">
                <img src="http://dev.zipcoinremit.com/solu/assets/images/section/story/1.png" alt="" class="memb-thumb">
                <div class="memb-info">
                  <h6><a href="#"> opportunities for emerging african markets, cathrine shingirai chivhima
  </a></h6>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-sm-6">
              <div class="team-member">
                <img src="http://dev.zipcoinremit.com/solu/assets/images/section/story/2.png" alt="" class="memb-thumb">
                <div class="memb-info">
                  <h6><a href="#">Why remittances go three times further than aid. How Zipcoin aims to make a difference</a></h6>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-sm-6">
              <div class="team-member">
                <img src="http://dev.zipcoinremit.com/solu/assets/images/section/story/3.png" alt="" class="memb-thumb">
                <div class="memb-info">
                  <h6><a href="#">Digitalising the African Markets with Zipcoin Remit’s Positive solution 3.0 – Irish Tech News – Irish Tech News</a></h6>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-sm-6">
              <div class="team-member">
                <img src="http://dev.zipcoinremit.com/solu/assets/images/section/story/4.png" alt="" class="memb-thumb">
                <div class="memb-info">
                  <h6><a href="#">Zim Achievers Canada inaugural nominees list out</a></h6>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-sm-6">
              <div class="team-member">
                <img src="http://dev.zipcoinremit.com/solu/assets/images/section/story/5.png" alt="" class="memb-thumb">
                <div class="memb-info">
                  <h6><a href="#">Digitalizing the African Markets with Zipcoin Remit’s Optimistic answer 3.0</a></h6>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      
      <!-- to whom helping START -->
      <section class="banner video v3 media-info" style="padding:0% 0 5%;">
        <div class="container">
          <div class="row">
            <div class="col-lg-8 col-md-10 m-auto text-center">
              <div class="sec-heading" style="margin-bottom:16px;">
                <span class="tagline" style="font-size: 32px;
  margin-top: 90px;">Media Info</span>
                <p class="sec-subtitle">For information on ZIP FOUNDATION please contact Kim Chivhima at <a href="mailto:kimc@zipcoinremit.com" class="color-orange">kimc@zipcoinremit.com</a></p>
                <p class="sec-subtitle">To attend events or enquire about photo opportunities please contact at <a href="mailto:communityevents@zipcoinremit.com" class="color-orange">communityevents@zipcoinremit.com</a></p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- to whom helping END -->
<app-footer></app-footer>