
<div class="signup-page">

    <div class="signup-login">
     
      <div class="sl-form-wrap" style="flex-basis:100%;max-width:100%;">
        <header>
          <a href="#" class="logo">
            <img src="assets/images/logo2.png" alt="" style="filter:none;">
          </a>
          <a href="#" class="mbl-menu-toggler">
            <i class="fas fa-align-left"></i>
          </a>
        </header>
        <form action="#" class="sl-form">
          <div class="form-group">
			<div class="row">
				<div class="col">
					<label>First Name</label>
					<input type="text" placeholder="First Name" required>
				</div>
				<div class="col">
					<label>Middle Name</label>
					<input type="text" placeholder="Middle Name" required>
				</div>
				<div class="col">
					<label>Last Name</label>
					<input type="text" placeholder="Last Name" required>
				</div>
			</div>
            
          </div>
          <div class="form-group">
            <label>Country</label>
            <select>
				<option disabled>Select Country</option>
				<option >Canada</option>
				<option >Nepal</option>
			</select>
          </div>
		  <div class="input-group form-group mb-3 flex-column">
			<label>Phone Number</label>
			<div class="d-flex justify-content-around">
				<div class="input-group-prepend mr-2">
				  <select>
						<option >+91</option>
					</select>
				</div>
				<input type="text"  placeholder="Username">
			</div>
		  </div>
          <div class="form-group">
            <label>Email or Username</label>
            <input type="email" placeholder="example@gmail.com" required>
          </div>
          <div class="form-group">
            <label>Password</label>
            <input type="password" placeholder="Password" required>
          </div>
          <div class="form-group">
            <label>Confirm Password</label>
            <input type="password" placeholder="Confirm Password" required>
          </div>
          <div class="form-group">
            <label>Referral Code</label>
            <input type="text" placeholder="Referral Code" required>
          </div>
          <div class="form-check">
            <input type="checkbox" class="form-check-input">
            <label class="form-check-label">Agree with <a href="#">Terms and Conditions</a></label>
          </div>
          <div class="form-check">
            <input type="checkbox" class="form-check-input">
            <label class="form-check-label">I agree to receive system notification and newsletters from ZipCoin</label>
          </div>
          <button class="btn btn-filled btn-round"><span class="bh"></span> <span>Signup</span></button>
          <p class="notice">Already have an account? <a routerLink="/signin">Login Account</a></p>
        </form>
      </div>
      <div id="demo" class="carousel slide sl-slider-caro auth-slider-info" data-ride="carousel" style="position: fixed;
      right: 0;">
        <!-- Indicators -->
        <ul class="carousel-indicators">
          <li data-target="#demo" data-slide-to="0" class="active"></li>
          <li data-target="#demo" data-slide-to="1"></li>
          <li data-target="#demo" data-slide-to="2"></li>
        </ul>

        <!-- The slideshow -->
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="assets/images/mac.png" style="max-width:98%;">
            <div class="carousel-caption">
              <h3 class="text-white">COMMUNITY & LOW COST MONEY TRANSFER</h3>
              <p class="mb-2">A Service That You Can Trust</p>
              <h4 class="text-white">FAST.EASY.SECURE.</h4>
            </div>
          </div>
          <div class="carousel-item">
            <img src="assets/images/mac.png" style="max-width:98%;">
            <div class="carousel-caption">
              <h3 class="text-white">COMMUNITY & LOW COST MONEY TRANSFER</h3>
              <p class="mb-2">A Service That You Can Trust</p>
              <h4 class="text-white">FAST.EASY.SECURE.</h4>
            </div>
          </div>
          <div class="carousel-item">
            <img src="assets/images/mac.png" style="max-width:98%;">
            <div class="carousel-caption">
              <h3 class="text-white">COMMUNITY & LOW COST MONEY TRANSFER</h3>
              <p class="mb-2">A Service That You Can Trust</p>
              <h4 class="text-white">FAST.EASY.SECURE.</h4>
            </div>
          </div>
        </div>


      </div>
    </div>
    </div>