<app-header></app-header>
 
    <!-- Banner section start -->
    <section class="banner zipfood_banner">
        <div class="container">
          <div class="row">
            <div class="col-lg-10 col-md-12 m-auto">
              <div class="ban-content text-center">
                  
                <h1>BUY QUALITY FOOD ONLINE AT LOW COST</h1>
                <h4 class="text-white" style="margin-bottom: 30px;">We zip your food fast to family in Zimbabwe.</h4>
                <p class="steptop"><i class="fa fa-check"></i> Choose the hamper you like based on your budget.</p>
                <p class="steptop"> <i class="fa fa-check"></i>Choose your delivery zone</p>
                <p class="steptop"><i class="fa fa-check mt-3"></i>Instantly we deliver your valued food "CHIKAFU" to your families’ doorstep bringing everlasting memories.
  </p>
                
                <br>
                <a href="#" class="btn btn-filled btn-round"><span class="bh"></span> <span>Send Food</span></a>
                <a href="#" class="btn btn-filled btn-round"><span class="bh"></span> <span>About ZIPFOOD</span></a>
                <br>
                <br>
              </div>
            </div>     
          </div>	
        </div>
      </section>
      <!-- Banner section end -->
  
      
      <section class="easy-steps">
        <div class="container">
          <div class="row">
            <div class="col-lg-8 col-md-10 m-auto">
              <div class="sec-heading">
                <h2 class="sec-title">Simple Steps to Buy Food</h2>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-10 m-auto">
              <ul class="steps steps-2">
                <li><span>1</span> Create an account</li>
                <li><span>2</span> Fund account</li>
                <li><span>3</span> Pay for your food/hamper</li>
                <li><span>4</span> Receive food </li>
              </ul>
            </div>
          </div>
        </div>
      </section>
      <section class="bg-offwhite">
        <div class="container">
          <div class="row align-items-center">
                    <div class="col-md-6">
                      <figure class="imgBox">
                        <img src="assets/images/grocery_01.jpg" alt="">
                      </figure>
                    </div>
                    <div class="col-md-6">
                      <div class="content-box">
                        <h2>My Fresh ZIPFOOD</h2>
                        <ul class="steps vertical">
                          <li>
                            <span>1</span> 
                            Fresh & High Quality
                            <p>Our food is supplied directly from South Africa; fresh, and high quality brands</p>
                          </li>
                          <li>
                            <span>2</span>
                            No Hidden Fee
                            <p>Our food/hamper is priced in South African Rand, no hiding fees.</p>
                          </li>
                          <li>
                            <span>3</span>
                            Fast Service
                            <p>Once payment is processed, instantly, food is on its way to family</p>
                          </li>
                          <li>
                            <span>4</span>
                            Affordable Price
                            <p>Our food is 3X cheaper than most online stores in Zimbabwe and abroad.
  </p>
                          </li>
                        </ul>
                        <a href="#" class="btn btn-filled btn-round"><span class="bh"></span> <span>Send Food</span></a>
                      </div>
                    </div>
                  </div>
        </div>
      </section>
      
      
      <section class="easy-steps bg-white">
        <div class="container">
          <div class="row">
            <div class="col-lg-8 col-md-10 m-auto">
              <div class="sec-heading">
                <h2 class="sec-title">How Do I Pay?</h2>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-10 col-md-12 m-auto">
             <div class="col-md-12">
              <div class="row">
                  
                <div class="col-sm-3 p-0">
                  <div class="iconBox boxed-shadow text-center" style="padding: 10px 30px;">
                    <!-- <img src="assets/images/icons/2.png" alt="" class="img-icon"> -->
  
                    <!-- Roysha icon -->
                    <span class="roysha-icon roysha-hand-card" style="font-size: 50px;"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span><span class="path9"></span><span class="path10"></span><span class="path11"></span></span>
                    
                    <h5  style="font-size:17px;min-height: 40px;"><a href="#">Credit Card</a></h5>
                                                        
                    <p style="margin-bottom:0px;"><span style="font-size:13px;font-weight:normal">(visa, mastercard, amex)</span></p>
                  </div>
                </div>
                   <div class="col-sm-3 p-0">
                  <div class="iconBox boxed-shadow text-center" style="padding: 10px 30px;">
                    <!-- <img src="assets/images/icons/3.png" alt="" class="img-icon"> -->
  
                    <!-- Roysha icon -->
                   <span class="roysha-icon roysha-tracking" style="font-size: 50px;"><img src="assets/images/email_payment.png" alt="" style="width:50px;margin-bottom:0px;" class="img-icon"></span>
  
                    <h5  style="font-size:17px;min-height: 40px;"><a href="#">Email Payment </a></h5>
                                                        
                    <p style="margin-bottom:0px;">&nbsp;</p>
                  </div>
                </div>
                 <div class="col-sm-3 p-0">
                  <div class="iconBox boxed-shadow text-center" style="padding: 10px 30px;">
                    <!-- <img src="assets/images/icons/1.png" alt="" class="img-icon"> -->
  
                    <!-- Roysha icon -->
                    <span class="roysha-icon roysha-wallet text-center" style="font-size: 50px;"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span><span class="path9"></span><span class="path10"></span><span class="path11"></span><span class="path12"></span><span class="path13"></span><span class="path14"></span></span>
  
                    <h5 style="font-size:17px;min-height: 40px;"><a href="#">ZIPCASH e-Wallet</a></h5>				  				  
                    <p style="margin-bottom:0px;"><span style="font-size:13px;font-weight:normal">(CAD/USD/GBP/EUR/ZIPCO)</span></p>
                  </div>
                </div>
                <div class="col-sm-3 p-0">
                  <div class="iconBox boxed-shadow text-center" style="padding: 10px 30px;">
                    <!-- <img src="assets/images/icons/1.png" alt="" class="img-icon"> -->
  
                    <!-- Roysha icon -->
                    <span class="roysha-icon roysha-bank-diposite" style="font-size: 50px;"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span><span class="path9"></span><span class="path10"></span><span class="path11"></span><span class="path12"></span><span class="path13"></span><span class="path14"></span><span class="path15"></span><span class="path16"></span></span>
  
                    <h5 style="font-size:17px;min-height: 40px;"><a href="#">Debit Interac</a></h5>
                    <p style="margin-bottom:0px;">&nbsp;</p>
                  </div>
                </div>
              </div>
              <div class="jumbtron row mt-3">
                  <p style="font-size:12px;"><strong>DELIVERY ZONES : </strong>
  PLEASE MAKE SURE DELIVERY ADDRESS IS CORRECT. THE DRIVER WILL CONTACT THE BENEFICIARY FOR THE DELIVERY ADDRESS. ONLY ONE DELIVERY WILL BE ATTEMPTED. Email us at <a href='mailto:e-food@zipcoinremit.com' class="theme-color">e-food@zipcoinremit.com</a> for additional information.
  </p>
              </div></div>
            </div>
          </div>
        </div>
      </section>
<app-footer></app-footer>