<app-header></app-header>
<!-- Banner section start -->
<section class="banner getmembership">
    <div class="container">
      <div class="row">
        <div class="col-lg-10 col-md-12 m-auto">
          <div class="ban-content text-center">
            <h1>FREELY GET YOUR YEARLY MEMBERSHIP</h1>
            <p class="mb-0"><strong>Do you send money 2X per month? Yes.</strong></p>
            <p>Start Saving 3X today. Join our membership and enjoy unlimited FREE money

transfers.</p>
<h4><strong style="color:white;text-transform:uppercase;">Anywhere. Anytime. 24 X 7</strong></h4>
          </div>
        </div>     
      </div>
    </div>
  </section>
  <!-- Banner section end -->

 

  <!-- Landing overview section start -->
  <section class="landing-overview bg-offwhite">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-8 col-md-10 m-auto">
          <div class="sec-heading">
            <h2 class="sec-title">Yearly Membership Pricing</h2>
            <h4>Start saving $300-500 per month on standard fees by subscribing to our unlimited monthly transfers</h4>
          </div>
        </div>
      </div>
    </div>
      <div class="row">
          <div id="generic_price_table">   
<section>
      <div class="container-fluid">
          
          <!--BLOCK ROW START-->
          <div class="row">
              <div class="col-md-2">
              
                  <!--PRICE CONTENT START-->
                  <div class="generic_content clearfix">
                      
                      <!--HEAD PRICE DETAIL START-->
                      <div class="generic_head_price clearfix">
                      
                          <!--HEAD CONTENT START-->
                          <div class="generic_head_content clearfix">
                          
                              <!--HEAD START-->
                              <div class="head_bg"></div>
                              <div class="head">
                                  <span>Silver
Lite</span>
                              </div>
                              <!--//HEAD END-->
                              
                          </div>
                          <!--//HEAD CONTENT END-->
                          
                          <!--PRICE START-->
                          <div class="generic_price_tag clearfix">    
                              <span class="price">
                                  <span class="sign">$</span>
                                  <span class="currency">52</span>
                                  <span class="cent">.99</span>
                                  <span class="month">/YEAR</span>
                              </span>
                          </div>
                          <!--//PRICE END-->
                          
                      </div>                            
                      <!--//HEAD PRICE DETAIL END-->
                      
                      <!--FEATURE LIST START-->
                      <div class="generic_feature_list">
                          <ul>
                              <li>Send Amount<br><span>$50-$100</span> <span class="theme-color">($4.99)</span> </li>
                              <li>Transaction<br><span>1/Month</span><sup class="text-danger">*</sup> </li>
                              <li>Currency Type <br><span>CAD/USD/GBP/EUR</span></li>
                          </ul>
                      </div>
                      <!--//FEATURE LIST END-->
                      
                      <!--BUTTON START-->
                      <div class="generic_price_btn clearfix">
                          <a class="" href="">Subscribe</a>
                      </div>
                      <!--//BUTTON END-->
                      
                  </div>
                  <!--//PRICE CONTENT END-->
                      
              </div>
              
              <div class="col-md-2">
              
                  <!--PRICE CONTENT START-->
                  <div class="generic_content clearfix">
                      
                      <!--HEAD PRICE DETAIL START-->
                      <div class="generic_head_price clearfix">
                      
                          <!--HEAD CONTENT START-->
                          <div class="generic_head_content clearfix">
                          
                              <!--HEAD START-->
                              <div class="head_bg"></div>
                              <div class="head">
                                  <span>Silver Zip</span>
                              </div>
                              <!--//HEAD END-->
                              
                          </div>
                          <!--//HEAD CONTENT END-->
                          
                          <!--PRICE START-->
                          <div class="generic_price_tag clearfix">    
                              <span class="price">
                                  <span class="sign">$</span>
                                  <span class="currency">102</span>
                                  <span class="cent">.99</span>
                                  <span class="month">/YEAR</span>
                              </span>
                          </div>
                          <!--//PRICE END-->
                          
                      </div>                            
                      <!--//HEAD PRICE DETAIL END-->
                      
                      <!--FEATURE LIST START-->
                      <div class="generic_feature_list">
                          <ul>
                              <li>Send Amount<br><span>$100-9,999</span> <span class="theme-color">($8.99)</span> </li>
                              <li>Transaction<br><span>1/Month</span><sup class="text-danger">*</sup> </li>
                              <li>Currency Type <br><span>CAD/USD/GBP/EUR</span></li>
                          </ul>
                      </div>
                      <!--//FEATURE LIST END-->
                      
                      <!--BUTTON START-->
                      <div class="generic_price_btn clearfix">
                          <a class="" href="">Subscribe</a>
                      </div>
                      <!--//BUTTON END-->
                      
                  </div>
                  <!--//PRICE CONTENT END-->
                      
              </div>
              
              <div class="col-md-2">
              
                  <!--PRICE CONTENT START-->
                  <div class="generic_content clearfix">
                      
                      <!--HEAD PRICE DETAIL START-->
                      <div class="generic_head_price clearfix">
                      
                          <!--HEAD CONTENT START-->
                          <div class="generic_head_content clearfix">
                          
                              <!--HEAD START-->
                              <div class="head_bg"></div>
                              <div class="head">
                                  <span>Gold Lite</span>
                              </div>
                              <!--//HEAD END-->
                              
                          </div>
                          <!--//HEAD CONTENT END-->
                          
                          <!--PRICE START-->
                          <div class="generic_price_tag clearfix">    
                              <span class="price">
                                  <span class="sign">$</span>
                                  <span class="currency">114</span>
                                  <span class="cent">.99</span>
                                  <span class="month">/YEAR</span>
                              </span>
                          </div>
                          <!--//PRICE END-->
                          
                      </div>                            
                      <!--//HEAD PRICE DETAIL END-->
                      
                      <!--FEATURE LIST START-->
                      <div class="generic_feature_list">
                          <ul>
                              <li>Send Amount<br><span>$50-100</span> <span class="theme-color">($4.99)</span> </li>
                              <li>Transaction<br><span>2/Month</span><sup class="text-danger">*</sup> </li>
                              <li>Currency Type <br><span>CAD/USD/GBP/EUR</span></li>
                          </ul>
                      </div>
                      <!--//FEATURE LIST END-->
                      
                      <!--BUTTON START-->
                      <div class="generic_price_btn clearfix">
                          <a class="" href="">Subscribe</a>
                      </div>
                      <!--//BUTTON END-->
                      
                  </div>
                  <!--//PRICE CONTENT END-->
                      
              </div>
              
              <div class="col-md-2">
              
                  <!--PRICE CONTENT START-->
                  <div class="generic_content clearfix active">
                      
                      <!--HEAD PRICE DETAIL START-->
                      <div class="generic_head_price clearfix">
                      
                          <!--HEAD CONTENT START-->
                          <div class="generic_head_content clearfix">
                          
                              <!--HEAD START-->
                              <div class="head_bg"></div>
                              <div class="head">
                                  <span>Gold Zip</span>
                              </div>
                              <!--//HEAD END-->
                              
                          </div>
                          <!--//HEAD CONTENT END-->
                          
                          <!--PRICE START-->
                          <div class="generic_price_tag clearfix">    
                              <span class="price">
                                  <span class="sign">$</span>
                                  <span class="currency">209</span>
                                  <span class="cent">.99</span>
                                  <span class="month">/YEAR</span>
                              </span>
                          </div>
                          <!--//PRICE END-->
                          
                      </div>                            
                      <!--//HEAD PRICE DETAIL END-->
                      
                      <!--FEATURE LIST START-->
                      <div class="generic_feature_list">
                          <ul>
                              <li>Send Amount<br><span>$101-9,999</span> <span class="theme-color">($8.99)</span> </li>
                              <li>Transaction<br><span>2/Month</span><sup class="text-danger">*</sup> </li>
                              <li>Currency Type <br><span>CAD/USD/GBP/EUR</span></li>
                          </ul>
                      </div>
                      <!--//FEATURE LIST END-->
                      
                      <!--BUTTON START-->
                      <div class="generic_price_btn clearfix">
                          <a class="" href="">Subscribe</a>
                      </div>
                      <!--//BUTTON END-->
                      
                  </div>
                  <!--//PRICE CONTENT END-->
                      
              </div>
              
              <div class="col-md-2">
              
                  <!--PRICE CONTENT START-->
                  <div class="generic_content clearfix ">
                      
                      <!--HEAD PRICE DETAIL START-->
                      <div class="generic_head_price clearfix">
                      
                          <!--HEAD CONTENT START-->
                          <div class="generic_head_content clearfix">
                          
                              <!--HEAD START-->
                              <div class="head_bg"></div>
                              <div class="head">
                                  <span>Platinum Lite</span>
                              </div>
                              <!--//HEAD END-->
                              
                          </div>
                          <!--//HEAD CONTENT END-->
                          
                          <!--PRICE START-->
                          <div class="generic_price_tag clearfix">    
                              <span class="price">
                                  <span class="sign">$</span>
                                  <span class="currency">169</span>
                                  <span class="cent">.99</span>
                                  <span class="month">/YEAR</span>
                              </span>
                          </div>
                          <!--//PRICE END-->
                          
                      </div>                            
                      <!--//HEAD PRICE DETAIL END-->
                      
                      <!--FEATURE LIST START-->
                      <div class="generic_feature_list">
                          <ul>
                              <li>Send Amount<br><span>$50-100</span> <span class="theme-color">($4.99)</span> </li>
                              <li>Transaction<br><span>3/Month</span><sup class="text-danger">*</sup> </li>
                              <li>Currency Type <br><span>CAD/USD/GBP/EUR</span></li>
                          </ul>
                      </div>
                      <!--//FEATURE LIST END-->
                      
                      <!--BUTTON START-->
                      <div class="generic_price_btn clearfix">
                          <a class="" href="">Subscribe</a>
                      </div>
                      <!--//BUTTON END-->
                      
                  </div>
                  <!--//PRICE CONTENT END-->
                      
              </div>
              
              <div class="col-md-2">
              
                  <!--PRICE CONTENT START-->
                  <div class="generic_content clearfix">
                      
                      <!--HEAD PRICE DETAIL START-->
                      <div class="generic_head_price clearfix">
                      
                          <!--HEAD CONTENT START-->
                          <div class="generic_head_content clearfix">
                          
                              <!--HEAD START-->
                              <div class="head_bg"></div>
                              <div class="head">
                                  <span>Platinum Zip</span>
                              </div>
                              <!--//HEAD END-->
                              
                          </div>
                          <!--//HEAD CONTENT END-->
                          
                          <!--PRICE START-->
                          <div class="generic_price_tag clearfix">    
                              <span class="price">
                                  <span class="sign">$</span>
                                  <span class="currency">315</span>
                                  <span class="cent">.99</span>
                                  <span class="month">/YEAR</span>
                              </span>
                          </div>
                          <!--//PRICE END-->
                          
                      </div>                            
                      <!--//HEAD PRICE DETAIL END-->
                      
                      <!--FEATURE LIST START-->
                      <div class="generic_feature_list">
                          <ul>
                              <li>Send Amount<br><span>$100-9,999</span> <span class="theme-color">($8.99)</span> </li>
                              <li>Transaction<br><span>3/Month</span><sup class="text-danger">*</sup> </li>
                              <li>Currency Type <br><span>CAD/USD/GBP/EUR</span></li>
                          </ul>
                      </div>
                      <!--//FEATURE LIST END-->
                      
                      <!--BUTTON START-->
                      <div class="generic_price_btn clearfix">
                          <a class="" href="">Subscribe</a>
                      </div>
                      <!--//BUTTON END-->
                      
                  </div>
                  <!--//PRICE CONTENT END-->
                      
              </div>
          </div>  
          <!--//BLOCK ROW END-->
          <br>
          <div class="clearfix"></div>
          <p class="text-center"><sup class="text-danger">*</sup> Start saving $300-500 per month on standard fees by subscribing to our unlimited monthly transfers</p> 
          <br>
          <h4 class="text-center">Otherwise our pay as you go plans at unbeatable flat rates are here: <a href="sendmoney.html" class="theme-color">Send Money</a></h4>
      </div>
  </section> 
  <!-- Landing overview section end -->
</div>
</div>
</section>
<app-footer></app-footer>