 <!-- Footer strat -->
 <footer class="footer">
  <div class="foo-top">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="widget foo-nav">
        <h5>Product</h5>
        <ul>
            <li><a routerLink="/send-money">Send Money</a></li>
            <li><a routerLink="/home">Donate Now</a></li>
            <li><a routerLink="/memberships">Get Membership</a></li>
            <li><a routerLink="/zipfood">Send Food</a></li>
            <li><a routerLink="/zip-refill">Send Airtime </a></li>
            <li><a routerLink="/getapi">Get APIs</a></li>
        </ul>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="widget foo-nav">
          <h5>Company</h5>
          <ul>
          <li><a routerLink="/team">Our Team</a></li>
            <li><a routerLink="/pricing">Get Pricing</a></li>
            <li><a href="#">Partners/Affliates</a></li>
            <li><a routerLink="/agent">Agent Portal</a></li>
            <li><a routerLink="/contact">Contact Us</a></li>
            <li><a routerLink="/zip-foundation">Zip Foundation</a></li>
            <li><a routerLink="/zipfood">Zip Food</a></li>
            <li><a>Zip Exchange</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="widget foo-nav">
          <h5>Legal</h5>
          <ul>
            <li><a href="http://dev.zipcoinremit.com/solu/assets/policy/ZipCoinRemit_TermsofUse_Conditions.pdf">Terms & Conditions</a></li>
            <li><a href="http://dev.zipcoinremit.com/solu/assets/policy/ZipCoinRemit-CustomerAcceptancePolicy.pdf">Customer Acceptance Policy</a></li>
            <li><a href="http://dev.zipcoinremit.com/solu/assets/policy/ZipCoinRemit-AML-KYCCompliancePolicy.pdf">KYC/AML Policy</a></li>
            <li><a href="http://dev.zipcoinremit.com/solu/assets/policy/ZipCoinRemit_PrivacyPolicy.pdf">Privacy Policy</a></li>
            <li><a href="http://dev.zipcoinremit.com/solu/assets/policy/ZipCoinRemit_CookiePolicy.pdf">Cookie Policy</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="widget foo-nav">
          <h5>Our Security Promises</h5>
          <ul _ngcontent-lee-c2="" class="d-flex mb-4" style="display:flex!important;"><li _ngcontent-lee-c2=""><img _ngcontent-lee-c2="" src="assets/images/ssl-certificate-badge.png" style="width:70px; height:70px;"></li><li _ngcontent-lee-c2=""><img _ngcontent-lee-c2="" src="assets/images/money-back-guarantee.png" style="width:70px; height:70px;"></li><li _ngcontent-lee-c2=""><img _ngcontent-lee-c2="" src="assets/images/secure-badge.png" style="width:70px; height:70px;"></li></ul>
    <h5>Social Connect</h5>
          <div class="d-flex social">
    <a href="#"><i class="fa fa-facebook-square"></i></a>
    <a href="#"><i class="fa fa-linkedin-square"></i></a>
    <a href="#"><i class="fa fa-reddit-square"></i></a>
    <a href="#"><i class="fa fa-twitter-square"></i></a>
    <a href="#"><i class="fa fa-instagram"></i></a>
    <a href="#"><i class="fa fa-youtube-square"></i></a>
    </div>
        </div>
      </div>
      
    </div>
  </div>
  </div>
  <div class="foo-btm">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center copyritetxt">
    <p class="">ZipCoin Remit Ltd. is registered as a Money Service Business(MSB) with the Financial Transactions and Reports Analysis Centre of Canada (FINTRAC) under Registration Number M18463842 and is licensed in Alberta with License Number 202137219

</p>
          <p class="text-white">Copyright © 2019. All rights reserved by ZipCoin</p>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- Footer end -->
<div class="goup"><i class="fa fa-angle-up"></i></div>