<app-header></app-header>
<!-- Banner section start -->
<section class="banner airtime">
    <div class="container">
      <div class="row">
        <div class="col-lg-10 col-md-12 m-auto">
          <div class="ban-content text-center">
             <h1>ZIPREFILL</h1>
           <h3 class="text-white">AirtTime Popup | Data Refill | Send GiftCards</h3>
          </div>
        </div>     
      </div>
    </div>
  </section>
  <!-- Banner section end -->

 
  <!-- Easy steps section start -->
  <section class="easy-steps">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 m-auto">
          <div class="sec-heading">
            <h2 class="sec-title">Easy and Fast Steps to Send Money</h2>
          </div>
        </div>
      </div>
     <div class="row">
        <div class="col-lg-4 col-md-6">
          <div class="iconBox boxed-shadow text-center" style="min-height:400px;">
            <!-- <img src="assets/images/icons/1.png" alt="" class="img-icon"> -->

            <!-- Roysha icon -->
            <span class="roysha-icon roysha-diposite"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span></span>

            <h5><a href="#">1. Enter a phone number & amount</a></h5>
            <p>
Type in the phone number and the amount you want us to refill                                                             
</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="iconBox boxed-shadow text-center" style="min-height:400px;">
            <!-- <img src="assets/images/icons/2.png" alt="" class="img-icon"> -->

            <!-- Roysha icon -->
            <span class="roysha-icon roysha-hand-cash"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span><span class="path9"></span><span class="path10"></span></span>
            
            <h5><a href="#">2.Pay your refill</a></h5>
            <p>
Your payment is confirmed in the same minute in most cases
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="iconBox boxed-shadow text-center " style="min-height:400px;">
            <!-- <img src="assets/images/icons/3.png" alt="" class="img-icon"> -->

            <!-- Roysha icon -->
            <span class="roysha-icon roysha-mobile-bank"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span><span class="path9"></span><span class="path10"></span><span class="path11"></span><span class="path12"></span><span class="path13"></span><span class="path14"></span></span>
            
            <h5><a href="#">3.That's it, here is your refill</a></h5>
            <p>

Once your payment is confirmed you will get your refill sent out

          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Easy steps section end -->
  <!-- Payment service section start -->
 <section>
 <div id="generic_price_table" style="background:white;">
      <br>
      <br>
      <div class="row">
        <div class="col-lg-8 col-md-10 m-auto">
          <div class="sec-heading">
            <h2 class="sec-title">ZIPREFILL Api Pricing</h2>
          </div>
        </div>
      </div>
      <div class="container">
          
          <!--BLOCK ROW START-->
          <div class="row">
              <div class="col-md-4">
              
                  <!--PRICE CONTENT START-->
                  <div class="generic_content clearfix">
                      
                      <!--HEAD PRICE DETAIL START-->
                      <div class="generic_head_price clearfix">
                      
                          <!--HEAD CONTENT START-->
                          <div class="generic_head_content clearfix">
                          
                              <!--HEAD START-->
                              <div class="head_bg"></div>
                              <div class="head">
                                  <span>Airtime Refill API</span>
                              </div>
                              <!--//HEAD END-->
                              
                          </div>
                          <!--//HEAD CONTENT END-->
                          
                          <!--PRICE START-->
                          <div class="generic_price_tag clearfix">    
                              <span class="price">
                                  <span class="sign">USD</span>
                                  <span class="currency">$399</span>
                                  <span class="cent">.00</span>
                                  <span class="month">/YEAR</span>
                              </span>
                          </div>
                          <!--//PRICE END-->
                          
                      </div>                            
                      <!--//HEAD PRICE DETAIL END-->
                     
                      
                      <!--BUTTON START-->
                      <div class="generic_price_btn clearfix">
                          <a class="" href="">Buy Now</a>
                      </div>
                      <!--//BUTTON END-->
                      
                  </div>
                  <!--//PRICE CONTENT END-->
                      
              </div>
              <div class="col-md-4">
              
                  <!--PRICE CONTENT START-->
                  <div class="generic_content clearfix">
                      
                      <!--HEAD PRICE DETAIL START-->
                      <div class="generic_head_price clearfix">
                      
                          <!--HEAD CONTENT START-->
                          <div class="generic_head_content clearfix">
                          
                              <!--HEAD START-->
                              <div class="head_bg"></div>
                              <div class="head">
                                  <span>Gift Cards API </span>
                              </div>
                              <!--//HEAD END-->
                              
                          </div>
                          <!--//HEAD CONTENT END-->
                          
                          <!--PRICE START-->
                          <div class="generic_price_tag clearfix">    
                              <span class="price">
                                  <span class="sign">USD</span>
                                  <span class="currency">$399</span>
                                  <span class="cent">.00</span>
                                  <span class="month">/YEAR</span>
                              </span>
                          </div>
                          <!--//PRICE END-->
                          
                      </div>                            
                      <!--//HEAD PRICE DETAIL END-->
                     
                      
                      <!--BUTTON START-->
                      <div class="generic_price_btn clearfix">
                          <a class="" href="">Buy Now</a>
                      </div>
                      <!--//BUTTON END-->
                      
                  </div>
                  <!--//PRICE CONTENT END-->
                      
              </div>
              <div class="col-md-4">
              
                  <!--PRICE CONTENT START-->
                  <div class="generic_content clearfix">
                      
                      <!--HEAD PRICE DETAIL START-->
                      <div class="generic_head_price clearfix">
                      
                          <!--HEAD CONTENT START-->
                          <div class="generic_head_content clearfix">
                          
                              <!--HEAD START-->
                              <div class="head_bg"></div>
                              <div class="head">
                                  <span>ZIPREFILL Combo API</span>
                              </div>
                              <!--//HEAD END-->
                              
                          </div>
                          <!--//HEAD CONTENT END-->
                          
                          <!--PRICE START-->
                          <div class="generic_price_tag clearfix">    
                              <span class="price">
                                  <span class="sign">USD</span>
                                  <span class="currency">$699</span>
                                  <span class="cent">.00</span>
                                  <span class="month">/YEAR</span>
                              </span>
                          </div>
                          <!--//PRICE END-->
                          
                      </div>                            
                      <!--//HEAD PRICE DETAIL END-->
                     
                      
                      <!--BUTTON START-->
                      <div class="generic_price_btn clearfix">
                          <a class="" href="">Buy Now</a>
                      </div>
                      <!--//BUTTON END-->
                      
                  </div>
                  <!--//PRICE CONTENT END-->
                      
              </div>
              
          <!--//BLOCK ROW END-->
          
                      <br>
      </div>
      </div>
    </div>
  </section> 
  
   <!-- Landing overview section end -->
<section class="contact bg-offwhite">
    <div class="container">
      <div class="row align-items-start">
        <div class="col-md-6">
          <div class="content-box">
            <span class="theme-color">AirTime Popup</span>
           <h2>Delivering Mobile  Top-Up to Millions Worldwide</h2>
           <h3>Means more magic to everyone</h3>
           <p class="m-0">Airtime Sharing! Sending airtime from the diaspora to your friends across the world has never been this easy! Refill your family’s phone today.</p>
           <h2>Why Us?</h2>
            <ul class="list">
              <li><i class="fas fa-check-circle"></i> Instant airtime recharge </li>
              <li><i class="fas fa-check-circle"></i> Flexible options- 1500 products, 170 countries. </li>
              <li><i class="fas fa-check-circle"></i> Private, Fast & Safe. </li>
              <li><i class="fas fa-check-circle"></i> Always stay connected with the people that matter most.</li>
              <li><i class="fas fa-check-circle"></i> Flexible payment methods
              

<ul><li style="padding-left:0px;">o	Email Payment</li>
<li style="padding-left:0px;">o	ZIPCASH e-Wallet</li>
<li style="padding-left:0px;">o	BTC</li>
</ul>
</li>    </ul>
<button type="submit" class="btn btn-filled btn-round"><span class="bh"></span> <span>Send Now
                      </span></button>
            
          </div>
        </div>
        <div class="col-md-6">
          <figure class="imgBox">
            <img src="assets/images/airtime_topup.jpg" alt="">
          </figure>
        </div>
      </div>
    </div>
  </section>
  <!-- Payment service section end -->
<section>
 <div id="generic_price_table" style="background:white;">
  <br>
  <br>
      <div class="row">
      <div class="container">
         <div class="content-box text-center">
            <span class="theme-color">Data Refill</span>
           <h2>Buy Data to Your Loved Ones Across the Globe</h2><br>
           
<button type="submit" class="btn btn-filled btn-round"><span class="bh"></span> <span>Buy Airtime
                      </span></button>
          </div>
      </div>
          
              
          </div>  
          <!--//BLOCK ROW END-->
          <br>
          
      </div>
  </section>  
<section class="contact bg-offwhite">
    <div class="container">
      <div class="row align-items-start">
      <div class="col-md-6">
          <figure class="imgBox">
            <img src="assets/images/airtime_topup2.jpg" alt="">
          </figure>
        </div>
        <div class="col-md-6">
          <div class="content-box">
            <span class="theme-color">Send Gift Cards</span>
           <h2>Buy Gift Cards</h2>
           <p class="m-0">With ZIPREMIT you can give the gift of choice for those who matter most.
Join the revolution. Live on e-wallet. Zipping fast.
</p>
           <h2>Why Us?</h2>
            <ul class="list">
              <li><i class="fas fa-check-circle"></i> Instant delivery  </li>
              <li><i class="fas fa-check-circle"></i> Flexible options- 1500 products, 170 countries. </li>
              <li><i class="fas fa-check-circle"></i>  
Private, Fast & Safe  </li>
              <li><i class="fas fa-check-circle"></i> 
Flexible payment methods

<ul><li style="padding-left:0px;">o	Email Payment</li>
<li style="padding-left:0px;">o	ZIPCASH e-Wallet</li>
<li style="padding-left:0px;">o	Debit Card</li>
</ul>
</li>    </ul>
          </div>
        </div>
        
      </div>
      <p>Our new range of digital gift cards is the ideal present for family and friends back home, perfect for any occasion.</p>
      <p><strong>Life's a little easier with a gift card</strong>
<p>Take the difficulty out of gift giving and instantly send a digital gift card, perfect for any occasion. Using your ZIPREFILL account, simply choose from our range of gift vouchers, select an amount and instantly send them a gift card wherever they are.</p>
<button type="submit" class="btn btn-filled btn-round"><span class="bh"></span> <span>Buy Now
                      </span></button>
                    </div>
  </section>
  <!-- Payment service section end -->
 

<app-footer></app-footer>