<app-header></app-header>

    <!-- Banner section start -->
    <section class="banner team">
        <div class="container">
          <div class="row">
            <div class="col-lg-11 col-md-12 m-auto">
              <div class="ban-content text-center"><br><br>
                <h1>ADVANCING THE COMPANY AND MONEY TRANSFER </h1>
                <h3 class="theme-color text-white">Through talent and innovation</h3>
                <p>ZIPREMIT is guided by a dynamic group of men and women who are most respected leaders in the industry and understand the necessity of receiving money from abroad. 
  
  </p><br>            </div>
            </div>     
          </div>
        </div>
      </section>
      <!-- Banner section end -->
  
  <!-- our team START -->
      <section class="overview">
        <div class="container">
          <div class="row">
            <div class="col-lg-8 col-md-10 m-auto">
              <div class="sec-heading">
                <h2 class="sec-title">Our Team</h2>
                <p class="sec-subtitle">We are global experts focused on finding innovative, customer-driven solutions that create long-term community value and sustainability. Team is full of passion, dedication and inspired to ensure more money to family.
  
  </p>
              </div>
            </div>          
          </div>
          <div class="row team-container">
            <div class="col-lg-3 col-md-6">
              <div class="iconBox boxed-shadow text-center">
               <div class="profile-pic"> <img src="http://dev.zipcoinremit.com/solu/assets/images/team/kim.png" alt="" class="img-circle" > 
              </div>
                <h5><a href="#" class="text-uppercase">Cathrine (Kim) Chivhima</a></h5>
                <p style="font-size:10px;" class="text-uppercase">(PRESIDENT & CEO | CAMLO)</p>
                <a href="https://www.linkedin.com/in/cathrine-kim-c-b5513113/"><i class="fa fa-linkedin-square"></i></a>
              </div>
            </div>
            <div class="col-lg-3 col-md-6">
             <div class="iconBox boxed-shadow text-center">
               <div class="profile-pic"> <img src="http://dev.zipcoinremit.com/solu/assets/images/team/albert.png" alt="" class="img-circle" > 
              </div>
                <h5><a href="#" class="text-uppercase">Albert Arthur Brown</a></h5>
                <p style="font-size:10px;" class="text-uppercase">(MSC | GHANA COUNTRY MANAGER |EXECUTIVE BUSINESS DEVELOPMENT OFFICER)</p>
                <a href="https://www.linkedin.com/in/albert-arthur-brown-275765a/"><i class="fa fa-linkedin-square"></i></a>
              </div>
            </div>
            <div class="col-lg-3 col-md-6">
             <div class="iconBox boxed-shadow text-center">
               <div class="profile-pic"> <img src="http://dev.zipcoinremit.com/solu/assets/images/team/tawanda.png" alt="" class="img-circle" > 
              </div>
                <h5><a href="#" class="text-uppercase">Tawanda Tore</a></h5>
                <p style="font-size:10px;" class="text-uppercase">(COMPLIANCE & AML OFFICER | COMMUNITY LIAISON | REMITTANCE SPECIALIST)</p>
                <a href="https://www.linkedin.com/in/tawanda-tore-97025791/"><i class="fa fa-linkedin-square"></i></a>
              </div>
            </div>
            <div class="col-lg-3 col-md-6">
              <div class="iconBox boxed-shadow text-center">
               <div class="profile-pic"> <img src="http://dev.zipcoinremit.com/solu/assets/images/team/lekato.png" alt="" class="img-circle" > 
              </div>
                <h5><a href="#" class="text-uppercase">Lekato Olalekan</a></h5>
                <p style="font-size:10px;" class="text-uppercase">(MARKETING| BLOCKCHAIN EXPERT| CRYPO ANALYST| BOUNTY & AIRDROP MANAGER | CONTENT WRITER | COMMUNITY LIAISON)</p>
                <a href="https://www.linkedin.com/in/lekato-lekato-530b3415b/"><i class="fa fa-linkedin-square"></i></a>
              </div>
            </div>
            <div class="col-lg-3 col-md-6">
              <div class="iconBox boxed-shadow text-center">
               <div class="profile-pic"> <img src="http://dev.zipcoinremit.com/solu/assets/images/team/georges-piguoe.jpg" alt="" class="img-circle" > 
              </div>
                <h5><a href="#" class="text-uppercase">GEORGES PIGUOE</a></h5>
                <p style="font-size:10px;" class="text-uppercase">
  (Chief Sales Officer| Cameroon Country Mgr)</p>
                <a href="http://dev.zipcoinremit.com/solu/#"><i class="fa fa-linkedin-square"></i></a>
              </div>
            </div>
            <div class="col-lg-3 col-md-6">
              <div class="iconBox boxed-shadow text-center">
               <div class="profile-pic"> <img src="http://dev.zipcoinremit.com/solu/assets/images/team/ken-kenfack.jpg" alt="" class="img-circle" > 
              </div>
                <h5><a href="#" class="text-uppercase">KEN KENFACK</a></h5>
                <p style="font-size:10px;" class="text-uppercase" >
  (Finance & Accounting Director | Cameroon Country Mgr)</p>
                <a href="https://www.linkedin.com/in/ken-kenfack-56821abb/"><i class="fa fa-linkedin-square"></i></a>
              </div>
            </div>
          </div>
        </div>
      </section><!-- out team END -->
  <!-- our team START -->
      <section class="overview bg-offwhite">
        <div class="container">
          <div class="row">
            <div class="col-lg-8 col-md-10 m-auto">
              <div class="sec-heading">
                <h2 class="sec-title">ZIPREMIT Legal Minds & Interpretation of Law</h2>
              </div>
            </div>          
          </div>
          <div class="row team-container">
            <div class="col-lg-3 col-md-6">
              <div class="iconBox boxed-shadow text-center">
               <div class="profile-pic"> <img src="http://dev.zipcoinremit.com/solu/assets/images/team/kudzai.jpg" alt="" class="img-circle" > 
              </div>
                <h5><a href="#" class="text-uppercase">KUDZAI CAROLINE TANDI</a></h5>
                <p style="font-size:10px;" class="text-uppercase">
  (BACHELOR OF LAWS (HONOURS) DEGREE (LLBS) | LEGAL COUNSEL)</p>
                <a href="https://www.linkedin.com/in/kudzai-caroline-tandi-90502b116/"><i class="fa fa-linkedin-square"></i></a>
              </div>
            </div>
            <div class="col-lg-3 col-md-6">
             <div class="iconBox boxed-shadow text-center">
               <div class="profile-pic"> <img src="http://dev.zipcoinremit.com/solu/assets/images/team/emmanuel.png" alt="" class="img-circle" > 
              </div>
                <h5><a href="#" class="text-uppercase">EMMANUEL BUTARE</a></h5>
                <p style="font-size:10px;" class="text-uppercase">
  (LLB (Hons), LLM POST DIPLOMA IN LEGAL PRACTICE | CERTIFICATE IN GLOBAL ARBITRATION | INTERNATION OF BUSINESS STUDIES)</p>
                <a href="https://www.linkedin.com/in/emmanuel-butare-llm-a0053844/"><i class="fa fa-linkedin-square"></i></a>
              </div>
            </div>
            
            <div class="col-lg-3 col-md-6">
              <div class="iconBox boxed-shadow text-center">
               <div class="profile-pic"> <img src="http://dev.zipcoinremit.com/solu/assets/images/team/nicholas.png" alt="" class="img-circle" > 
              </div>
                <h5><a href="#">NICHOLAS WAMBUA NGUMBI</a></h5>
                <p style="font-size:10px;" class="text-uppercase">
  (LL.M| POST GRADUATE DIPLOMA IN LAW | (LL.B) | CERTIFIED PUBLIC ACCOUNTANT- KE)</p>
                <a href="https://www.linkedin.com/company/nicholas-ngumbi-advocates/about/"><i class="fa fa-linkedin-square"></i></a>
              </div>
            </div>
            <div class="col-lg-3 col-md-6">
              <div class="iconBox boxed-shadow text-center">
               <div class="profile-pic"> <img src="http://dev.zipcoinremit.com/solu/assets/images/team/joan.jpg" alt="" class="img-circle" > 
              </div>
                <h5><a href="#">JOAN NYAMPONG ELLIS</a></h5>
                <p style="font-size:10px;" class="text-uppercase">(BA | LLB | LEGAL COUNSEL)</p>
                <a href="http://dev.zipcoinremit.com/solu/"><i class="fa fa-linkedin-square"></i></a>
              </div>
            </div>
           
          </div>
        </div>
      </section><!-- out team END -->
      
      <!-- our team START -->
      <section class="overview">
        <div class="container">
          <div class="row">
            <div class="col-lg-8 col-md-10 m-auto">
              <div class="sec-heading">
                <h2 class="sec-title">Advisory Team</h2>
  
              </div>
            </div>          
          </div>
          <div class="row team-container">
            <div class="col-lg-3 col-md-6">
              <div class="iconBox boxed-shadow text-center">
               <div class="profile-pic"> <img src="http://dev.zipcoinremit.com/solu/assets/images/team/sean.jpg" alt="" class="img-circle" > 
              </div>
                <h5><a href="#" class="text-uppercase">SEAN MONAGHAN</a></h5>
                <p style="font-size:10px;" class="text-uppercase">
  
  (BACHELOR OF LAWS (HONOURS) DEGREE (LLBS) | LEGAL COUNSEL)</p>
                <a href="https://www.linkedin.com/in/sean-monaghan-212b1012/"><i class="fa fa-linkedin-square"></i></a>
              </div>
            </div>
            <div class="col-lg-3 col-md-6">
             <div class="iconBox boxed-shadow text-center">
               <div class="profile-pic"> <img src="http://dev.zipcoinremit.com/solu/assets/images/team/paige.png" alt="" class="img-circle" > 
              </div>
                <h5><a href="#" class="text-uppercase">PAIGE (PADRON) MILES</a></h5>
                <p style="font-size:10px;" class="text-uppercase">
  
  (CGA, CPA, CIA | AUDIT ADVISOR)</p>
                <a href="https://www.linkedin.com/in/sean-monaghan-212b1012/"><i class="fa fa-linkedin-square"></i></a>
              </div>
            </div>
            
            <div class="col-lg-3 col-md-6">
              <div class="iconBox boxed-shadow text-center">
               <div class="profile-pic"> <img src="http://dev.zipcoinremit.com/solu/assets/images/team/wayne.jpg" alt="" class="img-circle" > 
              </div>
                <h5><a href="#">WAYNE LOGAN</a></h5>
                <p style="font-size:10px;" class="text-uppercase">
  
  (LEGAL COUNSEL ADVISOR)</p>
                <a href="https://www.linkedin.com/in/wayneloganmt/"><i class="fa fa-linkedin-square"></i></a>
              </div>
            </div>
            <div class="col-lg-3 col-md-6">
              <div class="iconBox boxed-shadow text-center">
               <div class="profile-pic"> <img src="http://dev.zipcoinremit.com/solu/assets/images/team/simon.png" alt="" class="img-circle" > 
              </div>
                <h5><a href="#">SIMON COCKING</a></h5>
                <p style="font-size:10px;" class="text-uppercase">
  (PR, MEDIA & PUBLICATION ADVISOR)</p>
                <a href="https://www.linkedin.com/in/simon-cocking-20540135/"><i class="fa fa-linkedin-square"></i></a>
              </div>
            </div>
           
          </div>
        </div>
      </section><!-- out team END -->
      
      <!-- Package section start -->
      <section class="package bg-offwhite">
        <div class="container">
          <div class="row">
            <div class="col-lg-8 col-md-10 m-auto text-center">
              <div class="sec-heading">
                <h2 class="sec-title">Meet Our Country Manager</h2>            
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-11 m-auto">
              <div class="package-table">
                <table class="table table-striped">
                  <tr>
                    <th>Flag</th>
                    <th>Country</th>
                    <th>Country Manager</th>
                  </tr>
                  <tr>
                    <td><strong><img src="http://dev.zipcoinremit.com/solu/assets/images/flag/ghana.png" style="max-width:80px;"/></strong></td>
                    <td><strong>Ghana</strong></td>
                    <td><strong>Albert Brown</strong></td>
                  </tr>
                   <tr>
                    <td><strong><img src="http://dev.zipcoinremit.com/solu/assets/images/flag/south_sudan.png"style="max-width:80px;"/></strong></td>
                    <td><strong>South Sudan</strong></td>
                    <td><strong>Kim Chivhima</strong></td>
                  </tr>
                   <tr>
                    <td><strong><img src="http://dev.zipcoinremit.com/solu/assets/images/flag/nigeria.png" style="max-width:80px;"/></strong></td>
                    <td><strong>Nigeria</strong></td>
                    <td><strong>Lekato</strong></td>
                  </tr>
                   <tr>
                    <td><strong><img src="http://dev.zipcoinremit.com/solu/assets/images/flag/somalia.png" style="max-width:80px;"/></strong></td>
                    <td><strong>Somalia</strong></td>
                    <td><strong>Abdul</strong></td>
                  </tr>
                   <tr>
                    <td><strong><img src="http://dev.zipcoinremit.com/solu/assets/images/flag/tanzania.png" style="max-width:80px;"/></strong></td>
                    <td><strong>Tanzania</strong></td>
                    <td><strong>Kim Chivhima</strong></td>
                  </tr>
                   <tr>
                    <td><strong><img src="http://dev.zipcoinremit.com/solu/assets/images/flag/uganda.png" style="max-width:80px;"/></strong></td>
                    <td><strong>Uganda</strong></td>
                    <td><strong>Kim Chivhima</strong></td>
                  </tr>
                   <tr>
                    <td><strong><img src="http://dev.zipcoinremit.com/solu/assets/images/flag/kenya.png" style="max-width:80px;"/></strong></td>
                    <td><strong>Kenya</strong></td>
                    <td><strong>Nicholas Ngumbi</strong></td>
                  </tr>
                   <tr>
                    <td><strong><img src="http://dev.zipcoinremit.com/solu/assets/images/flag/zimbabwe.png" style="max-width:80px;"/></strong></td>
                    <td><strong>Zimbabwe</strong></td>
                    <td><strong>Tawanda Tore</strong></td>
                  </tr>
                   <tr>
                    <td><strong><img src="http://dev.zipcoinremit.com/solu/assets/images/flag/cameron.png" style="max-width:80px;"/></strong></td>
                    <td><strong>Cameron</strong></td>
                    <td><strong>Georges Pigoue</strong></td>
                  </tr>
                   <tr>
                    <td><strong><img src="http://dev.zipcoinremit.com/solu/assets/images/flag/benin.png" style="max-width:80px;"/></strong></td>
                    <td><strong>Benin</strong></td>
                    <td><strong>Amos Sani</strong></td>
                  </tr>
                   <tr>
                    <td><strong><img src="http://dev.zipcoinremit.com/solu/assets/images/flag/congo.png" style="max-width:80px;"/></strong></td>
                    <td><strong>Drc</strong></td>
                    <td><strong>Gee L.</strong></td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Package section end -->
<app-footer></app-footer>