
<app-header></app-header>
<!--middle content-->
 
    <!-- Banner section start -->
    <section class="banner v2">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-7 col-md-12">
            <div class="ban-content">
              <h1>COMMUNITY & LOW COST MONEY TRANSFER</h1>
              <p>A Service That You Can Trust</p>
			  <h3 class="text-white">FAST. EASY. SECURE.</h3><br>
              <a href="assets/video/video4.mp4" class="btn btn-outline btn-round icon-left" data-fancybox>
                <span class="bh"></span> <span><i class="fas fa-play"></i> How It Works</span>
              </a>
			  <a href="https://www.canada.ca/en/financial-transactions-reports-analysis.html" class="btn btn-outline btn-round icon-left" >
                <span class="bh"></span> <span><i class="fas fa-thumbtack"></i> Fintrack Canada</span>
              </a>
            </div>
          </div>
          <div class="col-lg-5 col-md-12">
            <div class="form-tab">
               <ul class="nav nav-tabs">
                <li><a class="active" data-toggle="tab" href="#send-money">Send Money</a></li>
              </ul>
              <div class="tab-content currency-form">
                <div id="send-money" class="tab-pane fade in active show">
                  <form class="" action="#">
                    <div class="form-field">
                      <label>send amount</label>
                      <div class="join-field">
                        <input type="text" name="send_amount" placeholder="$1,000.00">
                        <div class="curr-select">
                          <span class="selected"><img src="assets/images/flags/usa.png" alt="">usd &nbsp;<i class="fas fa-caret-down"></i></span>
                          <ul>
                            <li><a href="#"><img src="assets/images/flags/australia.png" alt="">aud</a></li>
                            <li><a href="#"><img src="assets/images/flags/canada.png" alt="">cad</a></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <div class="currency-text">
                      <span><strong>70.7884</strong> <br>Guaranteed Rate(24Hrs)</span>
					  
                      <span><strong>$801.22</strong> <br>Total Fees</span>
                    </div>
                    <div class="form-field">
                      <label>Receive amount</label>
                      <div class="join-field">
                        <input type="text" name="send_amount" placeholder="$1,000.00">
                        <div class="curr-select">
                          <span class="selected"><img src="assets/images/flags/australia.png" alt="">aud &nbsp;<i class="fas fa-caret-down"></i></span>
                          <ul>
                            <li><a href="#"><img src="assets/images/flags/australia.png" alt="">aud</a></li>
                            <li><a href="#"><img src="assets/images/flags/usa.png" alt="">usa</a></li>
                          </ul>
                        </div>
                      </div>
                    </div>
					<div class="">
					<div>
                    <button class="btn btn-block text-center mb-0 btn-filled form-btn">
                      <span class="bh"></span> <span>Calculate</span>
                    </button>
					<button class="btn btn-block text-center btn-secondary form-btn">
                      <span class="bh"></span> <span>Get Started</span>
                    </button>
					</div>
					<!--<div>
					<button class="btn btn-block btn-filled form-btn">
                      <span class="bh"></span> <span>Get Started <i class="fas fa-arrow-right"></i></span>
                    </button>
					</div>-->
					</div>
                    <span class="accept-terms">By clicking continue, i am agree with <a href="#">Terms &amp; Policy</a></span>
                  </form>
                </div>
              </div>
            </div>            
          </div>          
        </div>
      </div>
    </section>
    <!-- Banner section end -->
	
	<!-- canadian ben START -->
    <section class="access-money">
      <div class="container-fluid">
        <div class="row align-items-md-center">
          <div class="col-md-6">
            <div class="content-box-fluid right">
              <span class="tagline bar">ZipRemit Money Transfer</span>
              <h1 style="font-size:60px;">Living the Canadian Dream</h1>
              <h3>Save More. Pay Less.</h3>
            </div>
          </div>
          <div class="col-md-6 nopadd-rth">
            <figure class="video-box round-os"> 
              <img src="assets/images/an2/cad1.jpg" alt="">
              <a href="assets/video/video3.mp4" class="video-btn" data-fancybox=""><i class="fas fa-play"></i></a>
            </figure>
          </div>
        </div>
      </div>      
    </section>
	<!-- canadian ben END -->
	
	<!-- our benefits -->
	<!-- Overview section start -->
    <section class="overview bg-offwhite">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 m-auto">
            <div class="sec-heading">
              <h2 class="sec-title">Our Benefits</h2>
              <p class="sec-subtitle">Our customers pay less and send more to family, unlike other competitors.</p>
            </div>
          </div>          
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="iconBox listBox-shadow">
              <!-- <img src="assets/images/icons/1.png" alt="" class="img-icon"> -->
              
              
              
              <img src="assets/images/fast.png"/>

              <h5><a href="#">Fast</a></h5>
              <p>
We know that speed is important when transferring money abroad. Simply select your beneficiary, enter the amount, and send now. We zip your cash fast and in minutes, easy and instant.</p>
            </div>
          </div>
          <div class="col-md-6">
		   <div class="iconBox listBox-shadow">
              <!-- <img src="assets/images/icons/3.png" alt="" class="img-icon"> -->

              
              <span class="roysha-icon roysha-cash-pin"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span><span class="path9"></span><span class="path10"></span><span class="path11"></span></span>

              <h5><a href="#">Secure</a></h5>
              <p>With 24/7 money monitoring, encryption and fraud protection, ZIPREMIT helps keep your money safe. Fully licensed and regulated by FINTRAC. Plus money back guarantee.</p>
            </div>
          </div>
		  
          <div class="col-md-6">
           
            <div class="iconBox listBox-shadow">
              <!-- <img src="assets/images/icons/2.png" alt="" class="img-icon"> -->

              
              <span class="roysha-icon roysha-low-cost"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span><span class="path9"></span><span class="path10"></span><span class="path11"></span><span class="path12"></span><span class="path13"></span><span class="path14"></span><span class="path15"></span><span class="path16"></span><span class="path17"></span><span class="path18"></span><span class="path19"></span><span class="path20"></span><span class="path21"></span><span class="path22"></span><span class="path23"></span><span class="path24"></span><span class="path25"></span><span class="path26"></span><span class="path27"></span><span class="path28"></span><span class="path29"></span><span class="path30"></span></span>

              <h5><a href="#">Low cost</a></h5>
              <p>We give you a clear and transparent summary of your proposed transactions. No hidden fees. Low flat rates across all countries and competitive foreign exchange rates set us apart.

</p>
            </div>
            
          </div>
          <div class="col-md-6">
            <div class="iconBox listBox-shadow">
              <!-- <img src="assets/images/icons/1.png" alt="" class="img-icon"> -->

              <span class="roysha-icon roysha-fast-transfer"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span><span class="path9"></span><span class="path10"></span><span class="path11"></span><span class="path12"></span><span class="path13"></span><span class="path14"></span><span class="path15"></span><span class="path16"></span><span class="path17"></span><span class="path18"></span></span>

              <h5><a href="#">Flexible Payment</a></h5>
              <p>Pay now with Debit Interac, Credit card, Email Payments/Interac e-Transfers (CAD Only), ZIPCASH & Cash.</p>
            </div>
          </div>
          <div class="col-md-6">
           
            <div class="iconBox listBox-shadow">
              <!-- <img src="assets/images/icons/2.png" alt="" class="img-icon"> -->

              
              <span class="roysha-icon roysha-support"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span></span>

              <h5><a href="#">Instant</a></h5>
              <p>ZIPREMIT offers instant online transfers and money gets to your beneficiary’s hands in minutes bringing everlasting memories. Instant online chat plus send money anytime, anywhere on your computer, smartphone or tablet.</p>
            </div>
            
          </div>
          <div class="col-md-6">
            <div class="iconBox listBox-shadow">
              <!-- <img src="assets/images/icons/1.png" alt="" class="img-icon"> -->

              
              <img src="assets/images/flexible	.png"/>

              <h5><a href="#">Convenience</a></h5>
              <p>Our service is with greater flexibility and reliability to suit your needs. 24 X 7 online money transfers with friendly community liaisons on standby to help with your questions. Send now online or download our free and easy to use ZIPCASH app </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Overview section end -->
	<!-- our benefits END-->
	 
    <!-- Partners section start -->
    <section class="access-money bg-white">
      <div class="container">
		
			<h2 class="text-center">Our Payment Methods</h2>
			
        <div class="row align-items-md-start mt-5">
          <div class="col-md-5">
              <span class="tagline bar">Ways To Pay</span>
				<div class="row">
              <div class="col-sm-4 p-0">
                <div class="iconBox boxed-shadow text-start" style="padding: 10px 30px;">
                  <!-- <img src="assets/images/icons/1.png" alt="" class="img-icon"> -->

                  <!-- Roysha icon -->
                  <span class="roysha-icon roysha-amount text-center" style="font-size:50px;"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span><span class="path9"></span><span class="path10"></span><span class="path11"></span></span>

                  <h5  style="font-size:17px;min-height: 40px;text-align:center;"><a href="#">Cash</a></h5>
                </div>
              </div>
              <div class="col-sm-4 p-0">
                <div class="iconBox boxed-shadow text-center" style="padding: 10px 30px;">
                  <!-- <img src="assets/images/icons/2.png" alt="" class="img-icon"> -->

                  <!-- Roysha icon -->
                  <img src="assets/images/zipcash.png" style="width: 58px;margin: 6px auto;"/>
                  
                  <h5  style="font-size:17px;min-height: 40px;"><a href="#">ZipCash</a></h5>
                </div>
              </div>
              <div class="col-sm-4 p-0">
                <div class="iconBox boxed-shadow text-center" style="padding: 10px 30px;">
                  <!-- <img src="assets/images/icons/2.png" alt="" class="img-icon"> -->

                  <!-- Roysha icon -->
                  <span class="roysha-icon roysha-hand-card" style="font-size: 50px;"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span><span class="path9"></span><span class="path10"></span><span class="path11"></span></span>
                  
                  <h5  style="font-size:17px;min-height: 40px;"><a href="#">Credit Card</a></h5>
                </div>
              </div>
			  <br>
              <div class="col-sm-6 p-0">
                <div class="iconBox boxed-shadow text-center" style="padding: 10px 30px;">
                  <!-- <img src="assets/images/icons/3.png" alt="" class="img-icon"> -->

                  <!-- Roysha icon -->
                 <span class="roysha-icon roysha-tracking" style="font-size: 50px;"><img src="assets/images/email_payment.png" alt="" style="width:50px;margin-bottom:0px;" class="img-icon"></span>

                  <h5  style="font-size:17px;min-height: 40px;"><a href="#">Email Payment </a></h5>
				  <p style="margin-bottom:0px;"><span style="font-size:13px;font-weight:normal">(Interac e-Transfers)</span></p>
                </div>
              </div>
              <div class="col-sm-6 p-0">
                <div class="iconBox boxed-shadow text-center" style="padding: 10px 30px;">
                  <!-- <img src="assets/images/icons/1.png" alt="" class="img-icon"> -->

                  <!-- Roysha icon -->
                  <span class="roysha-icon roysha-bank-diposite" style="font-size: 50px;"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span><span class="path9"></span><span class="path10"></span><span class="path11"></span><span class="path12"></span><span class="path13"></span><span class="path14"></span><span class="path15"></span><span class="path16"></span></span>

                  <h5 style="font-size:17px;min-height: 40px;"><a href="#">Debit Interac</a></h5>
				  <p style="margin-bottom:0px;">&nbsp;</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 offset-md-1">
			<span class="tagline bar">Ways To Receive</span>
            <div class="row">
              <div class="col-sm-4 p-0">
                <div class="iconBox boxed-shadow text-center" style="padding: 10px 30px;">
                  <!-- <img src="assets/images/icons/1.png" alt="" class="img-icon"> -->

                  <!-- Roysha icon -->
                  <span class="roysha-icon roysha-cash" style="font-size: 50px;"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span><span class="path9"></span><span class="path10"></span></span>

                  <h5  style="font-size:17px;min-height: 40px;"><a href="#">Cash Pickup</a></h5>
                </div>
              </div>
              <div class="col-sm-4 p-0">
                <div class="iconBox boxed-shadow text-center" style="padding: 10px 30px;">
                  <!-- <img src="assets/images/icons/2.png" alt="" class="img-icon"> -->

                  <!-- Roysha icon -->
                  <span class="roysha-icon roysha-diposite"  style="font-size: 50px;"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span></span>
                  
                  <h5  style="font-size:17px;min-height: 40px;"><a href="#">Bank Deposit</a></h5>
                </div>
              </div>
              <div class="col-sm-4 p-0">
                <div class="iconBox boxed-shadow text-center" style="padding: 10px 30px;">
                  <!-- <img src="assets/images/icons/3.png" alt="" class="img-icon"> -->

                  <!-- Roysha icon -->
                  <span class="roysha-icon roysha-mobile-bank"  style="font-size: 50px;"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span><span class="path9"></span><span class="path10"></span><span class="path11"></span><span class="path12"></span><span class="path13"></span><span class="path14"></span></span>

                  <h5  style="font-size:17px;min-height: 40px;"><a href="#">Mobile Money</a></h5>
                </div>
              </div>
              <div class="col-sm-4 p-0">
                <div class="iconBox boxed-shadow text-center" style="padding: 10px 30px;">
                  <!-- <img src="assets/images/icons/1.png" alt="" class="img-icon"> -->

                  <!-- Roysha icon -->
                  <span class="roysha-icon roysha-tracking" style="font-size: 50px;"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span><span class="path9"></span><span class="path10"></span><span class="path11"></span><span class="path12"></span><span class="path13"></span><span class="path14"></span><span class="path15"></span><span class="path16"></span><span class="path17"></span></span>

                  <h5 style="font-size:17px;min-height: 40px;"><a href="#">Airtime Topup</a></h5>
				  <p style="margin-bottom:0px;">&nbsp;</p>
                </div>
              </div>
              <div class="col-sm-4 p-0">
                <div class="iconBox boxed-shadow text-center" style="padding: 10px 30px;">
                  <!-- <img src="assets/images/icons/1.png" alt="" class="img-icon"> -->

                  <!-- Roysha icon -->
                  <span class="roysha-icon roysha-wallet text-center" style="font-size: 50px;"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span><span class="path9"></span><span class="path10"></span><span class="path11"></span><span class="path12"></span><span class="path13"></span><span class="path14"></span></span>

                  <h5 style="font-size:17px;min-height: 40px;"><a href="#">ZipCash e-Wallet</a></h5>
				  <p style="margin-bottom:0px;">&nbsp;</p>
                </div>
              </div>
              <div class="col-sm-4 p-0">
                <div class="iconBox boxed-shadow text-center" style="padding: 10px 30px;">
                  <!-- <img src="assets/images/icons/1.png" alt="" class="img-icon"> -->

                  <!-- Roysha icon -->
                  <span class="roysha-icon roysha-tracking" style="font-size: 50px;"><img src="assets/images/grocery.png" alt="" style="width:50px;margin-bottom:0px;" class="img-icon"></span>
<h5 style="font-size:17px;min-height: 40px;"><a href="#">ZIPFOOD </a></h5>
				  <p style="margin-bottom:0px;"><span style="font-size:13px;font-weight:normal">(Zimbabwe Only)</span></p>
                </div>
              </div>
            </div>
			
          </div>
        </div>
		 
<h5 class="my-4 text-center text-normal">You work hard for your money and we want you to get the most bang for your buck. Get started now!</h5>
			<p class="text-center"><a href="#" class="btn btn-default icon-left"><span class="bh" style="top: 40.0469px; left: 185.5px;"></span> <span>Send Money</span></a></p>
      </div>	  
    </section>
    <!-- Partners section end -->

    <!-- Payment service section start -->
    <section class="payment-service bg-offwhite">
      <div class="container">
        <div class="row align-items-center">
           <div class="col-lg-8 col-md-12 m-auto">
            <div class="ban-content text-center">
              <h1>Subscribe To Our Newsletter</h1>
              <p>To get updated with our latest announcements please be connected with us by subscribing to our newsletter today.</p>
            </div>
            <form class="bill-form v2" action="#">
              <div class="form-field" style="width:0px;flex-basis:0px;">
               
              </div>
              <div class="form-field" style="flex-basis:100%;">
                <div class="join-field">
                  <input type="text" placeholder="Email ID">
                  <button class="btn btn-block btn-filled">
                    <span class="bh"></span> <span>Subscribe &nbsp; <i class="fas fa-arrow-right"></i></span>
                  </button>
                </div>
              </div>
            </form>
          </div> 
        </div>
      </div>
    </section>
    <!-- Payment service section end -->

    

   

    

    <!-- Faq section start -->
     <!-- App section start -->
    <section class="app bg-white">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-6">
            <div class="content-box">
              <h2>ZIPCASH APP DOWNLOAD NOW</h2>
              <p>Our free ZipCash app now makes it faster, safer and easier to send money to family worldwide.</p>
			 <h3> My Bank. My Mobile. My Cash. </h3> 
              <ul class="list">
                <li><i class="fas fa-check-circle"></i> Log in is within your fingerprint </li>
                <li><i class="fas fa-check-circle"></i> Manage your personal information</li>
                <li><i class="fas fa-check-circle"></i> View your transaction history instantly</li>
              </ul>
              <a href="#" class="btn btn-default icon-left"><span class="bh"></span> <span><i class="fab fa-android"></i> Google play</span></a>
              <a href="#" class="btn btn-default icon-left"> <span class="bh"></span> <span><i class="fab fa-apple"></i>App store</span></a>
            </div>
          </div>
          <div class="col-md-6">
            <figure class="imgBox">
              <!-- <img src="assets/images/app-img.png" alt=""> -->
              <img src="assets/images/ani5/1.png" alt="" class="ani5 ani5img1">
              <img src="assets/images/ani5/2.png" alt="" class="ani5 ani5img2">
              <img src="assets/images/ani5/3.png" alt="" class="ani5 ani5img3">
              <img src="assets/images/ani5/4.png" alt="" class="ani5 ani5img4">
              <img src="assets/images/ani5/5.png" alt="" class="ani5 ani5img5">
              <img src="assets/images/ani5/6.png" alt="" class="ani5 ani5img6">
            </figure>
          </div>
        </div>
      </div>
    </section>
    <!-- App section end -->
	<!-- Services section start -->
    <section class="services bg-white py-2">
      <div class="container">
        
        <div class="row">
          <div class="col-md-12">
            <div class="partners-logo owl-carousel">
              <a href="#" ><img src="assets/images/partners/1.png" alt=""></a>
              <a href="#" ><img src="assets/images/partners/2.png" alt=""></a>
              <a href="#"><img src="assets/images/partners/3.png" alt=""></a>
              <a href="#" ><img src="assets/images/partners/4.png" alt=""></a>
              <a href="#" ><img src="assets/images/partners/5.png" alt=""></a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Services section end -->
<!-- middle content -->
<app-footer></app-footer>