<app-header></app-header>
<!-- Banner section start -->
<section class="banner getapi">
    <div class="container">
      <div class="row">
        <div class="col-lg-10 col-md-12 m-auto">
          <div class="ban-content text-center">
            <h1>WE MAKE MARKET DATA EASY</h1>
            <p class="mb-0">3X lower than our competitors and trusted rates for your usage and customer satisfaction<br>Quis ipsum suspe ultrices gravida. Risus commodo viverra maecenas .</p>
            <h3 class="text-white">Simple & Flexible Currency Data APIs</h3>
<p class="mb-0">Unlocking the value of your data at your fingertips.</p>

          </div>
        </div>     
      </div>
    </div>
  </section>
  <!-- Banner section end -->

 

  <!-- Landing overview section start -->
  <section class="landing-overview bg-offwhite">
  <div id="generic_price_table"> 
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 m-auto">
          <div class="sec-heading">
            <h2 class="sec-title">Why Us?</h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-6">
          <div class="iconBox boxed-shadow text-center" style="min-height:400px;">
            <!-- <img src="assets/images/icons/1.png" alt="" class="img-icon"> -->

            <!-- Roysha icon -->
            <span class="roysha-icon roysha-diposite"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span></span>

            <h5><a href="#">Flexible Packages</a></h5>
            <p>
Choose a package that works for your needs. Select the frequency of rate updates and number of API rate requests per month.
                                                             
</p>
<a href="">Package options</a>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="iconBox boxed-shadow text-center" style="min-height:400px;">
            <!-- <img src="assets/images/icons/2.png" alt="" class="img-icon"> -->

            <!-- Roysha icon -->
            <span class="roysha-icon roysha-hand-cash"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span><span class="path9"></span><span class="path10"></span></span>
            
            <h5><a href="#">Accurate Rates</a></h5>
            <p>
ZIP’s Rate Blender uses over 100 global sources to reinforce accuracy. Plus, it dynamically detects and filters out any data errors.</p>
<a href="">
API Overview
</a>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="iconBox boxed-shadow text-center " style="min-height:400px;">
            <!-- <img src="assets/images/icons/3.png" alt="" class="img-icon"> -->

            <!-- Roysha icon -->
            <span class="roysha-icon roysha-mobile-bank"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span><span class="path9"></span><span class="path10"></span><span class="path11"></span><span class="path12"></span><span class="path13"></span><span class="path14"></span></span>
            
            <h5><a href="#">Simple Integration</a></h5>
            <p>
Easily plug-in ZIP Currency Data into your existing software. We provide SDKs for Java, NodeJS, PHP, and Python. Visit our Github and Zipper page for integration support, SDKs, & code generator.
                                                                </p>
                                                                <a href="">Integration Support
</a>
          </div>
        </div>
      </div>
    </div>
    </div>
  </section>
  <!-- Landing overview section end -->
<section class="contact">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-6">
          <div class="content-box">
            <h2>Choose your API package today starting at USD $349 / Year</h2>
           
            <ul class="list">
              <li><i class="fas fa-check-circle"></i> 170+ currencies </li>
              <li><i class="fas fa-check-circle"></i> Daily or live rates</li>
              <li><i class="fas fa-check-circle"></i> No base currency restrictions</li>
              <li><i class="fas fa-check-circle"></i> Compatible formats: JSON, XML, CSV</li>
              <li><i class="fas fa-check-circle"></i> Email & phone support</li>
              <li><i class="fas fa-check-circle"></i> Customizable margins</li>
              <li><i class="fas fa-check-circle"></i> Monthly averages</li>
              <li><i class="fas fa-check-circle"></i> Currency volatility</li>
            </ul>
            
          </div>
        </div>
        <div class="col-md-6">
          <figure class="imgBox">
            <img src="assets/images/api.jpg" alt="">
          </figure>
        </div>
      </div>
    </div>
  </section>
  <!-- Payment service section start -->
 <section>
 <div id="generic_price_table">
      <br>
      <br>
      <div class="container-fluid">
          
          <!--BLOCK ROW START-->
          <div class="row">
              <div class="col-md-3">
              
                  <!--PRICE CONTENT START-->
                  <div class="generic_content clearfix">
                      
                      <!--HEAD PRICE DETAIL START-->
                      <div class="generic_head_price clearfix">
                      
                          <!--HEAD CONTENT START-->
                          <div class="generic_head_content clearfix">
                          
                              <!--HEAD START-->
                              <div class="head_bg"></div>
                              <div class="head">
                                  <span>Zip
Lite</span>
                              </div>
                              <!--//HEAD END-->
                              
                          </div>
                          <!--//HEAD CONTENT END-->
                          
                          <!--PRICE START-->
                          <div class="generic_price_tag clearfix">    
                              <span class="price">
                                  <span class="sign">USD</span>
                                  <span class="currency">$399</span>
                                  
                                  <span class="month">/YEAR</span>
                              </span>
                              <p class="text-success request">10,000 Request/month</p>
                          </div>
                          <!--//PRICE END-->
                          
                      </div>                            
                      <!--//HEAD PRICE DETAIL END-->
                      
                      <!--FEATURE LIST START-->
                      <div class="generic_feature_list">
                          <ul style="min-height: 310px;">
                              <li><span>Ideal package configuration for accounting, ERP, CRM and in-house applications.</span> </li>
                              <li><span>Ample volume of rate requests for common business applications.</span> </li>
                              <li><span>Rates update once per day
</span> </li>
                          </ul>
                      </div>
                      <!--//FEATURE LIST END-->
                      
                      <!--BUTTON START-->
                      <div class="generic_price_btn clearfix">
                          <a class="" href="">Buy Now</a>
                      </div>
                      <!--//BUTTON END-->
                      
                  </div>
                  <!--//PRICE CONTENT END-->
                      
              </div>
              
              
              
              <div class="col-md-3">
              
                  <!--PRICE CONTENT START-->
                  <div class="generic_content clearfix">
                      
                      <!--HEAD PRICE DETAIL START-->
                      <div class="generic_head_price clearfix">
                      
                          <!--HEAD CONTENT START-->
                          <div class="generic_head_content clearfix">
                          
                              <!--HEAD START-->
                              <div class="head_bg"></div>
                              <div class="head">
                                  <span>Best Value</span>
                              </div>
                              <!--//HEAD END-->
                              
                          </div>
                          <!--//HEAD CONTENT END-->
                          
                          <!--PRICE START-->
                          <div class="generic_price_tag clearfix">    
                              <span class="price">
                                  <span class="sign">USD</span>
                                  <span class="currency">$699</span>
                                  
                                  <span class="month">/YEAR</span>
                              </span>
                              <p class="text-success request">30,000 Request/month</p>
                          </div>
                          <!--//PRICE END-->
                          
                      </div>                            
                      <!--//HEAD PRICE DETAIL END-->
                      
                      <!--FEATURE LIST START-->
                      <div class="generic_feature_list">
                          <ul style="min-height: 310px;">
                              <li><span>Optimized package configuration for e-commerce, client facing applications and more.</span> </li>
                              <li><span>
Ideal volume of rate requests for your multi-national client base.</span> </li>
                              <li><span>
Rates update once per day

</span> </li>
                          </ul>
                      </div>
                      <!--//FEATURE LIST END-->
                      
                      <!--BUTTON START-->
                      <div class="generic_price_btn clearfix">
                          <a class="" href="">Buy Now</a>
                      </div>
                      <!--//BUTTON END-->
                      
                  </div>
                  <!--//PRICE CONTENT END-->
                      
              </div>
              <div class="col-md-3">
              
                  <!--PRICE CONTENT START-->
                  <div class="generic_content clearfix active">
                      
                      <!--HEAD PRICE DETAIL START-->
                      <div class="generic_head_price clearfix">
                      
                          <!--HEAD CONTENT START-->
                          <div class="generic_head_content clearfix">
                          
                              <!--HEAD START-->
                              <div class="head_bg"></div>
                              <div class="head">
                                  <span>ZIP Prime</span>
                              </div>
                              <!--//HEAD END-->
                              
                          </div>
                          <!--//HEAD CONTENT END-->
                          
                          <!--PRICE START-->
                          <div class="generic_price_tag clearfix">    
                              <span class="price">
                                  <span class="sign">USD</span>
                                  <span class="currency">$2,299</span>
                                  
                                  <span class="month">/YEAR</span>
                              </span>
                              <p class="text-success request">100,000 Request/month</p>
                          </div>
                          <!--//PRICE END-->
                          
                      </div>                            
                      <!--//HEAD PRICE DETAIL END-->
                      
                      <!--FEATURE LIST START-->
                      <div class="generic_feature_list">
                          <ul style="min-height: 310px;">
                              <li><span>Excellent package configuration for enterprise applications, SaaS products, global e-commerce operations and more.</span> </li>
                              <li><span>Perfect volume of rate requests to power global applications.


</span> </li>
                          </ul>
                      </div>
                      <!--//FEATURE LIST END-->
                      
                      <!--BUTTON START-->
                      <div class="generic_price_btn clearfix">
                          <a class="" href="">Buy Now</a>
                      </div>
                      <!--//BUTTON END-->
                      
                  </div>
                  <!--//PRICE CONTENT END-->
                      
              </div>
              <div class="col-md-3">
              
                  <!--PRICE CONTENT START-->
                  <div class="generic_content clearfix">
                      
                      <!--HEAD PRICE DETAIL START-->
                      <div class="generic_head_price clearfix">
                      
                          <!--HEAD CONTENT START-->
                          <div class="generic_head_content clearfix">
                          
                              <!--HEAD START-->
                              <div class="head_bg"></div>
                              <div class="head">
                                  <span>ZIP Infinite</span>
                              </div>
                              <!--//HEAD END-->
                              
                          </div>
                          <!--//HEAD CONTENT END-->
                          
                          <!--PRICE START-->
                          <div class="generic_price_tag clearfix">    
                              <span class="price">
                                  <span class="sign">USD</span>
                                  <span class="currency">$4,599</span>
                                  
                                  <span class="month">/YEAR</span>
                              </span>
                              <p class="text-success request">Unlimited</p>
                          </div>
                          <!--//PRICE END-->
                          
                      </div>                            
                      <!--//HEAD PRICE DETAIL END-->
                      
                      <!--FEATURE LIST START-->
                      <div class="generic_feature_list">
                          <ul style="min-height: 310px;">
                              <li><span>Optimal package configuration for truly global applications with endless access to ZIP Currency Data</span> </li>
                              <li><span>Empower your software, enterprise solutions, service platforms and more with ZIP Currency Data.

</span> </li><li><span>Rates update once per day
</span> </li>
                          </ul>
                      </div>
                      <!--//FEATURE LIST END-->
                      
                      <!--BUTTON START-->
                      <div class="generic_price_btn clearfix">
                          <a class="" href="">Buy Now</a>
                      </div>
                      <!--//BUTTON END-->
                      
                  </div>
                  <!--//PRICE CONTENT END-->
                      
              </div>
              
          </div>  
          <!--//BLOCK ROW END-->
          <br/>
          <div class="clearfix"></div>
          
          <br/>
          <p class="text-center"><button type="submit" class="btn btn-filled btn-round"><span class="bh"></span> <span>Start 7 Days Free Trial Now
                      </span></button></p>
                      <br/>
      </div>
      </div>
  </section> 
  <!-- Payment service section end -->
<section> <div id="generic_price_table" style="background:white;">
      <div class="row">
        <div class="col-lg-8 col-md-10 m-auto">
          <div class="sec-heading">
            <h2 class="sec-title">KYC API Packages</h2>
            <h3>Flexible Plans Based On Your Needs.</h3>
            <h4 class="text-success">Get started for free </h4>
          </div>
        </div>
      </div>
      <div class="container-fluid">
          
          <!--BLOCK ROW START-->
          <div class="row" style="justify-content:center;">
              <div class="col-md-4 ">
              
                  <!--PRICE CONTENT START-->
                  <div class="generic_content clearfix" style="border: 1px solid #f0f0f0;">
                      
                      <!--HEAD PRICE DETAIL START-->
                      <div class="generic_head_price clearfix">
                      
                          <!--HEAD CONTENT START-->
                          <div class="generic_head_content clearfix">
                          
                              <!--HEAD START-->
                              <div class="head_bg"></div>
                              <div class="head">
                                  <span>Standard KYC</span>
                              </div>
                              <!--//HEAD END-->
                              
                          </div>
                          <!--//HEAD CONTENT END-->
                          <!--PRICE START-->
                          <div class="generic_price_tag clearfix">
                              <div class="charges">
                                  <div>
                                      <p><strong>Doc</strong></p>
                                      <p>1-2000</p>
                                      <p>2001-5000</p>
                                      <p>5001-10000</p>
                                      <p>10001+</p>
                                  </div>
                                  <div>
                                      <p><strong>Charge</strong></p>
                                      <p>$1.50 USD</p>
                                      <p>$1.20 USD</p>
                                      <p>$1.00 USD</p>
                                      <p>$0.90 USD</p>
                                  </div>
                                  <div>
                                      <p><strong>Total</strong></p>
                                      <p>$2,500.00 USD</p>
                                      <p>$4,500.00 USD</p>
                                      <p>$7,500.00 USD</p>
                                      <p>$12,500.00 USD</p>
                                  </div>
                              </div>
                          </div>
                          <!--//PRICE END-->
                      </div>                            
                      <!--//HEAD PRICE DETAIL END-->
                      
                      <!--FEATURE LIST START-->
                      <div class="generic_feature_list">
                          <span class="text-left text-success">Document Verification</span>
                          <ul style="min-height: 310px;">
                              <li class="border-0 text-left"><i class="fa fa-check"></i>&nbsp;<span>Name Verification</span> </li>
                              <li class="border-0 text-left"><i class="fa fa-check"></i>&nbsp;<span>DoB Verification</span> </li>
                              <li class="border-0 text-left"><i class="fa fa-check"></i>&nbsp;<span>Address Verification</span> </li>
                              <li class="border-0 text-left"><i class="fa fa-check"></i>&nbsp;<span>Document Issue Date</span> </li>
                              <li class="border-0 text-left"><i class="fa fa-check"></i>&nbsp;<span>Document Expiry Date</span> </li>
                              <li class="border-0 text-left"><i class="fa fa-check"></i>&nbsp;<span>Document Number</span> </li>
                          </ul>
                      </div>
                      <!--//FEATURE LIST END-->
                      
                  </div>
                  <!--//PRICE CONTENT END-->
                      
              </div>
              
              
              
              <div class="col-md-4">
              
                  <!--PRICE CONTENT START-->
                  <div class="generic_content clearfix" style="border: 1px solid #f0f0f0;">
                      
                      <!--HEAD PRICE DETAIL START-->
                      <div class="generic_head_price clearfix">
                      
                          <!--HEAD CONTENT START-->
                          <div class="generic_head_content clearfix">
                          
                              <!--HEAD START-->
                              <div class="head_bg"></div>
                              <div class="head">
                                  <span>Advanced KYC</span>
                              </div>
                              <!--//HEAD END-->
                              
                          </div>
                          <!--//HEAD CONTENT END-->
                          <!--PRICE START-->
                          <div class="generic_price_tag clearfix">
                              <span class="text-left text-success">Option A: Facial Verification</span>
                              <div class="charges">
                                  <div>
                                      <p><strong>Doc</strong></p>
                                      <p>1-2000</p>
                                      <p>2001-5000</p>
                                      <p>5001-10000</p>
                                      <p>10001+</p>
                                  </div>
                                  <div>
                                      <p><strong>Charge</strong></p>
                                      <p>$1.50 USD</p>
                                      <p>$1.20 USD</p>
                                      <p>$1.00 USD</p>
                                      <p>$0.90 USD</p>
                                  </div>
                                  <div>
                                      <p><strong>Total</strong></p>
                                      <p>$2,500.00 USD</p>
                                      <p>$4,500.00 USD</p>
                                      <p>$7,500.00 USD</p>
                                      <p>$12,500.00 USD</p>
                                  </div>
                              </div>
                          </div>
                          <!--//PRICE END-->
                      </div>                            
                      <!--//HEAD PRICE DETAIL END-->
                      
                      <!--FEATURE LIST START-->
                      <div class="generic_feature_list">
                          <span class="text-left text-success">Option B : 2 Factor Authenticator</span>
                         <div class="charges">
                                  <div>
                                      <p><strong>Doc</strong></p>
                                      <p>1-2000</p>
                                      <p>2001-5000</p>
                                      <p>5001-10000</p>
                                      <p>10001+</p>
                                  </div>
                                  <div>
                                      <p><strong>Charge</strong></p>
                                      <p>$1.50 USD</p>
                                      <p>$1.20 USD</p>
                                      <p>$1.00 USD</p>
                                      <p>$0.90 USD</p>
                                  </div>
                                  <div>
                                      <p><strong>Total</strong></p>
                                      <p>$2,500.00 USD</p>
                                      <p>$4,500.00 USD</p>
                                      <p>$7,500.00 USD</p>
                                      <p>$12,500.00 USD</p>
                                  </div>
                              </div>
                      </div>
                      <!--//FEATURE LIST END-->
                     
                  </div>
                  <!--//PRICE CONTENT END-->
                      
              </div>
              
          </div>  
          <!--//BLOCK ROW END-->
          <br>
          
      </div>
      </div>
  </section>  

<app-footer></app-footer>